.root {
  margin-bottom: calc(var(--yr) * var(--s4) * 2);

  @media (--s) {
    margin: 0 0 calc(var(--yr) * var(--s4));
  }
}

.form {
  background-color: var(--sp_color);
  position: relative;
  padding: calc(var(--yr) * var(--s3) * 2) var(--xr);
  max-width: 60rem;
  margin: 0 auto;
}

.els {
  @media (--s) {
    margin: 0 calc(1 / 10 * 100%);
  }

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);

    & .message {
      grid-column: 1 / -1;
    }

    & .submit {
      grid-column: 1 / -1;
    }
  }
}

select {
  appearance: none;
}

.destination,
.department {
  position: relative;

  & svg {
    position: absolute;
    display: block;
    width: 10px;
    height: 4px;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}

.disabled {
  opacity: 0.5;
}

.email {
  position: relative;

  & input {
    padding: calc(var(--yr) * 6) calc(var(--yr) * 4) calc(var(--yr) * 3);
  }
}

.placeholder {
  composes: mt from '../Fonts.module.css';
  position: absolute;
  display: block;
  color: var(--gr_color);
  top: calc(var(--yr) * 2);
  left: calc(var(--yr) * 4);
}
