.root {
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 4));
}

.months {
  display: flex;
  width: 100%;
  margin-bottom: calc(var(--yr) * 4);
}

.item {
  position: relative;
  width: calc(var(--yr) * 11);
  height: calc(var(--yr) * 11);
  background-color: #ECEFF1;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.prev {
  text-align: left;
}

.next {
  text-align: right;
}

.current {
  composes: h4 from '../../Fonts.module.css';
  align-self: center;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #ECF0F1;
  border: 1px solid #DDDEDE;
}

.weekday {
  color: #777777;
  padding: 8px 10px;

  &:not(:last-child) {
    border-right: 1px solid #DDDEDE;
  }

  @media(--s) {
    padding: calc(var(--yr) * 4) calc(var(--yr) * 5);
  }
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-left: 1px solid #DDDEDE;
}

.date {
  position: relative;
  padding: calc(var(--yr) * 2) calc(var(--yr) * 2.5) calc(var(--yr) * var(--s4));
  border-bottom: 1px solid #DDDEDE;
  border-right: 1px solid #DDDEDE;

  @media(--s) {
    padding: calc(var(--yr) * 4) calc(var(--yr) * 5) calc(var(--yr) * calc(var(--s4) * 2));
  }
}

.in {
  position: relative;
}

.out {
  color: #777;
}

.events {
  position: relative;
}

.event {
  composes: at from '../../Fonts.module.css';
  position: absolute;
}

.blue {
  color: var(--hl_color);
}

.white {
  /* color: #fff; */
}

.today {
  color: #fff;
  background-color: var(--hl_color);
}
