.root {
  order: -1;
  max-width: 22rem;

  @media (--m) {
    grid-column: 4;
    order: 2;
    min-width: 22rem;
  }
}

.item {
  position: relative;
  cursor: pointer;
  width: calc(var(--yr) * 6);
  height: calc(var(--yr) * 6);
}

.month {
  composes: h5 from '../../Fonts.module.css';
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.current {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  margin-bottom: 16px;
}

.year {
  margin-right: calc(var(--yr) * 2);
  opacity: 0.5;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: calc(var(--yr) * 2);

  & svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
  }
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #dbddde;
  margin-bottom: 16px;
}

.weekday {
  text-align: center;
  color: #777;
  line-height: calc(var(--yr) * 12);
}

.months {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date {
  position: relative;
  line-height: calc(var(--yr) * 12);
  text-align: center;

  & a {
    display: block;
  }
}

.in {
  cursor: pointer;
  position: relative;
}

.out {
  color: #777;
}

.events {
  position: relative;
}

.today {
  color: var(--hl_color);
}

.event {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 9px;
  top: 9px;
  transform: translate(3px 6px);
  background-color: var(--hl_color);
  border-radius: 50%;
}

.active {
  background-color: var(--hl_color);
  border-radius: calc(var(--yr) * 2);
  color: #000;
  transition: color 0.3s, background-color 0.3s;

  & a {
    color: #fff;

    & .in {
      & .event {
        background-color: #fff;
      }
    }
  }
}

.white {
  color: #fff;
}
