.months {
  display: flex;
  width: 100%;
  margin-bottom: calc(var(--yr) * 4);
}

.item {

  position: relative;
  width: calc(var(--yr) * 11);
  height: calc(var(--yr) * 11);
  background-color: #ECEFF1;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.prev {
  text-align: left;
}

.next {
  text-align: right;
}

.current {
  composes: h4 from '../../Fonts.module.css';
  align-self: center;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* box-shadow: 0 0 0 1px #DDDEDE; */
  background-color: #ECF0F1;
}

.weekday {
  color: #777777;
  padding: 8px 10px;

  &:not(:last-child) {
    /* border-right: 1px solid #DDDEDE; */
  }

  @media(--s) {
    padding: calc(var(--yr) * 4) calc(var(--yr) * 5);
  }
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date {
  box-shadow: 0 0 0 1px #DDDEDE;
  position: relative;
  padding: calc(var(--yr) * 4) calc(var(--yr) * 5) calc(var(--yr) * calc(var(--s4) * 2));
}

.today {
  color: #fff;
  background-color: var(--hl_color);
}

.active {
  position: relative;
}

.out {
  color: #777;
}
