.root {
  @media (--m) {
    grid-column: span 3;
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 4);

  @media (--m) {
    margin-bottom: calc(var(--yr) * 8);
  }
}

:global .schema_3 {
  & :local .title {
    color: #339;

    &:hover {
      color: var(--hl_color);
    }
  }
}

.date {
  color: var(--gr_color);
}

.event {
  position: relative;
  display: block;
  padding: calc(var(--yr) * var(--s3) * 2) 0;

  &:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
  }
}

:global .schema_3 {
  & :local .event {
    &:not(:last-child) {
      border-bottom: 1px solid #7fc5f5;
    }
  }
}

.events {
  @media (--m) {
    margin-top: calc(var(--yr) * var(--s3) * -2);
  }
}
