.dropzone {
  composes: at from '../Fonts.module.css';
  cursor: pointer;
  background-color: color-mod(var(--hl_color) a(0.4));
  border-radius: var(--yr);
  text-align: center;
  margin-bottom: calc(var(--yr) * var(--s3));
  padding: calc(var(--yr) * var(--s-m));
  transition: 0.3s background;

  &:hover {
    background-color: var(--hl_color);
  }

  &.active {
    background-color: var(--pr_color);
    color: var(--lg_color);
  }
}

.file {
  margin-bottom: calc(var(--yr) * var(--s2));
}

.row {
  display: grid;
  grid-template-columns: 1fr 6rem;
  grid-gap: var(--xr);
  max-width: 26rem;
}

.title {
  composes: at from '../Fonts.module.css';
}

.upload {
  position: relative;
  text-align: center;
  composes: mt from '../Fonts.module.css';
  height: 24px;
  border-radius: 2px;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    display: block;
    background-color: var(--lg_grey_color);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }
}

.bar {
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--hl_color);
  position: absolute;
  z-index: -1;
}

.delete {
  composes: main from '../Buttons.module.css';
  align-self: end;
  padding: calc(var(--yr) * 1.5) var(--xr);
}
