.intro {
  composes: h0 from '../Fonts.module.css';
  text-align: center;
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 4));
}

.root {
  display: grid;

  @media (--m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 1.875);
  }
}
