.confirm {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.root {
  margin: calc(var(--yr) * var(--s6)) 0;
  display: grid;
  grid-gap: calc(var(--yr) * var(--s3));

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--yr) * var(--s4)) calc(var(--xr) * 2);
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.item {
  padding: calc(var(--yr) * var(--s3)) calc(var(--xr) * 2) calc(var(--yr) * var(--s4));
  background: var(--sp_color);
  display: flex;
  flex-direction: column;
  min-height: calc(var(--yr) * 50);

  @media (--s) {
    min-height: calc(var(--yr) * 100);
  }
}

.title {
  composes: h4 from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s2));
}

.desc {
  composes: bt from '../Fonts.module.css';
}

.more {
  line-height: calc(var(--yr) * 9);
  margin-top: auto;
  position: relative;

  & svg {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(var(--yr) * 8);
    stroke-width: 2;

    @media (--s) {
      height: calc(var(--yr) * 9);
    }
  }
}

.item:hover {
  color: var(--pr_color);

  & .more {
    color: var(--hl_color);

    & svg {
      stroke: #fff;

      & circle {
        fill: var(--hl_color);
        stroke: var(--hl_color);
      }
    }
  }
}
