.tutor {
  margin-bottom: calc(var(--yr) * var(--s3));
  overflow: hidden;
}

:global .schema_2 {
  & :local .tutor {
    & a {
      color: #fff;

      &:hover {
        color: var(--hl_color);
      }
    }
  }
}

.image {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2));
  background-color: color-mod(#000 a(0.6));
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%);
  }

  & img {
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

:global .schema_2 {
  & :local .image {
    background-color: #161a1d;
  }
}

.email,
.phone,
.position {
  display: none;
}

.executives {
  display: block;
}
