.contacts {
  background-color: var(--hl_color);
}

.today {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.admission {
  background-color: var(--sp_color);
  padding: calc(var(--yr) * var(--s6)) 0 calc(var(--yr) * var(--s4));
}

:global .schema_2 {
  & :local .admission {
    background-color: #161a1d;
  }
}

.courses {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.timing {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.how {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.foreigners {
  margin: calc(var(--yr) * var(--s6)) 0;
}

.results {
  margin: calc(var(--yr) * var(--s4)) 0;
}
