.period {
  color: var(--hl_color);
}

.years {
  composes: h3 from '../Fonts.module.css';
}

.who {
  composes: at from '../Fonts.module.css';
  text-align: center;
}

.img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: var(--hl_color);
  margin: 0 auto calc(var(--yr) * var(--s2));
}

.section {
  padding-bottom: calc(var(--yr) * var(--s3) * 2);

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: calc(var(--xr) * 2);

    & .when {
      grid-column: span 2;
      text-align: right;
      padding-right: calc(var(--xr) * 4);
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background: var(--hl_color);
        display: block;
        border-radius: 50%;
        right: 0;
        top: 0;
        box-shadow: 0 0 0 6px color-mod(var(--hl_color) a(0.4));
        z-index: 1;
      }

      &::before {
        position: absolute;
        content: '';
        width: 0;
        border-right: 2px dashed #D5D9DB;
        height: calc(100% + var(--yr) * var(--s3) * 2);
        /* background: var(--hl_color); */
        display: block;
        /* border-radius: 50%; */
        right: 9px;
        top: 0;
        /* box-shadow: 0 0 0 6px color-mod(var(--hl_color) a(0.4)); */
      }
    }

    & .main {
      grid-column: span 6;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: calc(var(--xr) * 2);
    }

    & .who {
      grid-column: span 1;
    }

    & .text {
      grid-column: span 2;
    }
  }
}
