.root {
  display: block;

  @media(--s) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.name {
  composes: h4 from '../Fonts.module.css';
}

.video {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2) * 2);

  & > video {
    /* z-index: -1; */
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: '';
    display: block;
    /* background-color: #666; */
    padding-top: calc(5 / 4 * 100%);

    @media (--s) {
      padding-top: calc(2 / 3 * 100%);
    }

    @media (--m) {
      padding-top: calc(1 / 2 * 100%);
    }

    @media (--xl) {
      display: none;
    }
  }

  @media(--s) {
    margin-bottom: calc(var(--yr) * var(--s4) * 2);
  }

  @media (--xl) {
    height: 56rem;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
  }
}

.intro {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  text-align: center;
}

.sec {
  /* background-color: var(--hl_color); */
}

.slider {
  grid-column: span 12;
  overflow: hidden;
}

.education {
  grid-column: span 12;
}
