.root {
  /* display: block; */
}

.placeholder {
  grid-column: 12;
  min-height: 130vh;
}

.name {
  composes: h4 from '../Fonts.module.css';
}

.video {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2) * 2);

  & > video {
    /* z-index: -1; */
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: '';
    display: block;
    padding-top: calc(5 / 4 * 100%);

    @media (--s) {
      padding-top: calc(2 / 3 * 100%);
    }

    @media (--m) {
      padding-top: calc(1 / 2 * 100%);
    }

    @media (--xl) {
      display: none;
    }
  }

  @media (--s) {
    margin-bottom: calc(var(--yr) * var(--s4) * 2);
  }

  @media (--xl) {
    height: 56rem;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
  }
}

.news {
  display: block;

  @media (--m) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 1.875);
    margin-bottom: calc(var(--yr) * var(--s5));
  }
}

.intro {
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  text-align: center;
}

.sec {
  /* background-color: var(--hl_color); */
}

.slider {
  grid-column: span 2;
  overflow: hidden;
  position: relative;
}

.education {
  order: 3;
  grid-column: span 12;
}

.label {
  display: none;

  @media (--m) {
    grid-column: -1 / 1;
    display: flex;

    & .more {
      margin-left: auto;
      height: fit-content;
    }
  }
}

.schedule {
  background-color: #eceff1;
  margin-bottom: calc(var(--yr) * var(--s4));
}

.events {
  position: relative;
}

.calendar {
  display: none;

  @media (--l) {
    position: absolute;
    right: 0;
    background-color: var(--hl_color);
    height: 100%;
    top: 0;
    display: block;
    width: 70px;
    cursor: pointer;

    & svg {
      display: block;
      width: 2.5rem;
      height: 2rem;
      position: absolute;
      left: 50%;
      top: calc(var(--yr) * 5);
      transform: translateX(-50%);
    }
  }
}

.title {
  composes: h5 from '../Fonts.module.css';
  color: white;
  position: absolute;
  bottom: 20%;
  left: -23.5%;
  transform: rotate(-90deg);
  margin: 0;
}
