.root {
  margin-top: calc(var(--yr) * var(--s6));
}

.search {
  background-color: var(--sp_color);
  padding-bottom: calc(var(--yr) * var(--s6));
}

.text {
  margin-top: calc(var(--yr) * var(--s6));
  max-width: 40rem;
}
