- set_meta_tags \
  title: @node.title

= react_component 'Tutors/Index', { \
  node: @node.as_json(only: %i[nid title]),
  tutors: @tutors.sort_by(&:title).as_json(only: %i[nid], methods: %i[id title path tutor_types department position tutor_phone_public tutor_email_public], include: { image: { only: [], methods: %i[id path encoded_path] } }),
  loaf: @node.loaf.as_json(only: %i[mlid depth], methods: %i[title path]) \
}, { prerender: Rails.env.production? }
