- set_meta_tags \
  title: @node.title

= react_component 'Tutors/Index', { \
  node: @node.as_json(only: %i[nid title]),
  tutors: TutorSerializer.new(@tutors),
  divisions: DivisionSerializer.new(@divisions, { include: %i[departments departments.tutors], params: { with_departments: true } }),
  loaf: @node.loaf.as_json(only: %i[mlid depth], methods: %i[title path]) \
}, { prerender: Rails.env.production? }
