.main {
  background-color: var(--hl_color);
  color: #fff;
  composes: bt from './Fonts.module.css';
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: calc(var(--yr) * var(--s2)) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  outline: none;
  appearance: none;
  text-decoration: none;

  &:disabled {
    background: #b8bfe6;
  }

  &.pending {
    /* background: linear-gradient(90deg, color-mod(var(--f_color) tint(85%)), color-mod(var(--f_color) tint(50%)), color-mod(var(--f_color) tint(85%)));
    background-size: 600% 600%;
    animation: loading 5s ease infinite;
    color: var(--pr_color); */
  }

  &:not(:last-child) {
    margin-right: var(--xr);
  }

  &:active {
    background: #2a46d1;
  }

  &:hover {
    &:not(:disabled) {
      &:not(.pending) {
        color: #fff;
        background: #35f;
      }
    }
  }
}

.big {
  padding: calc(var(--yr) * 3) calc(var(--xr) * 2);
  min-width: 10rem;
}

.sec {
  appearance: none;
  background-color: #eceff1;
  color: #141414;
  composes: bt from './Fonts.module.css';
  display: inline-block;
  cursor: pointer;

  /* position: static; */
  border: none;
  text-align: center;
  padding: calc(var(--yr) * var(--s2)) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  outline: none;

  &:hover {
    color: var(--hl_color);
  }

  &:active {
    background-color: #d4d7d9;
  }
}

:global .schema_2 {
  & :local .sec {
    background-color: #161a1d;
    color: var(--wh_color);

    &:hover {
      background-color: var(--hl_color);
    }
  }
}
