.p {
  margin: 0 0 calc(var(--yr) * var(--s2));

  @media (--s) {
    margin: 0 0 calc(var(--yr) * var(--s2));
  }
}

h2 {
  &:not(:first-child) {
    margin-top: calc(var(--yr) * var(--s3));
  }

  & strong {
    font-weight: normal;
  }
}

.ul {
  padding-left: 0.5rem;

  & li {
    margin-bottom: calc(var(--yr) * var(--s1));
    padding-left: 1.5rem;

    &::before {
      text-align: center;
      display: inline-block;
      width: 1.5rem;
      content: '\2022';
      margin-left: -1.5rem;
    }
  }
}

.ol {
  padding-left: 0.5rem;
  counter-reset: li;

  & li {
    margin-bottom: calc(var(--yr) * var(--s1));
    padding-left: 1.5rem;
    counter-increment: li;

    &::before {
      text-align: center;
      display: inline-block;
      width: 1.5rem;
      content: counter(li)'.';
      margin-left: -1.5rem;
    }
  }
}

.img {
  display: block;
  max-width: 100%;
}

.cb1 {
  margin: 0 0 calc(var(--yr) * var(--s4));

  @media (--s) {
    margin: 0 0 calc(var(--yr) * var(--s4));
  }

  & .figure {
    max-width: 80%;
    margin: 0 auto;

    & img {
      border-radius: 50%;
      margin: 0 auto calc(var(--yr) * var(--s1));
      width: 5rem;
      height: 5rem;
    }
  }
}

.cb2 {
  margin: 0 0 calc(var(--yr) * var(--s4));
  display: grid;
  grid-template-columns: calc(2 / 6 * 100%) 1fr;
  grid-column-gap: calc(var(--xr) * 2);


  @media (--s) {
    margin: 0 0 calc(var(--yr) * var(--s4));
  }

  & > * {
    grid-column: 2 / span 1;
  }

  & .figure {
    grid-column: 1 / span 1;
    grid-row: 1 / 9999;

    & img {
    }
  }
}

.figure {

}

.figcaption {
  composes: at from './Fonts.module.css';
  color: var(--gr_color);
  text-align: center;
  margin-bottom: 0;
}
