.mt {
  font-size: calc(var(--yr) * 2.5);
  line-height: calc(var(--yr) * 3);

  @media (--s) {
    font-size: calc(var(--yr) * 3);
    line-height: calc(var(--yr) * 4);
  }
}

.at {
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 4);

  @media (--s) {
    font-size: calc(var(--yr) * 3.5);
    line-height: calc(var(--yr) * 5);
  }
}

.bt {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);

  @media (--s) {
    font-size: calc(var(--yr) * 4.5);
    line-height: calc(var(--yr) * 7);
  }
}

.h0 {
  font-size: calc(var(--yr) * 10);
  line-height: calc(var(--yr) * 11);

  @media (--s) {
    font-size: calc(var(--yr) * 16);
    line-height: calc(var(--yr) * 18);
  }
}

.h1,
h1 {
  font-size: calc(var(--yr) * 8);
  line-height: calc(var(--yr) * 9);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * 3);

  @media (--s) {
    font-size: calc(var(--yr) * 12);
    line-height: calc(var(--yr) * 14);
    margin: 0 0 calc(var(--yr) * 4);
  }
}

.h2,
h2 {
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 7);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * var(--s3));

  @media (--s) {
    font-size: calc(var(--yr) * 10);
    line-height: calc(var(--yr) * 11);
    /* margin: 0 0 calc(var(--yr) * 4); */
  }
}

.h3,
h3 {
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 6);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * 3);

  @media (--s) {
    font-size: calc(var(--yr) * 8);
    line-height: calc(var(--yr) * 9);
    margin: 0 0 calc(var(--yr) * 4);
  }
}

h4,
.h4 {
  font-size: calc(var(--yr) * 4.5);
  line-height: calc(var(--yr) * 5.5);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * 2);

  @media (--s) {
    font-size: calc(var(--yr) * 6);
    line-height: calc(var(--yr) * 7);
    margin: 0 0 calc(var(--yr) * 3);
  }
}

h5,
.h5 {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 5);
  font-weight: normal;
  margin: 0 0 calc(var(--yr) * 1);

  @media (--s) {
    font-size: calc(var(--yr) * 5);
    line-height: calc(var(--yr) * 6);
    margin: 0 0 calc(var(--yr) * 2);
  }
}

p {
  margin: 0 0 calc(var(--yr) * 3);

  @media (--s) {
    margin: 0 0 calc(var(--yr) * 4);
  }
}

figure {
  margin: 0 0 calc(var(--yr) * 3);

  & figcaption {
    margin: calc(var(--yr) * 2) 0 0;
    text-align: center;
    color: #666;
    font-size: calc(var(--yr) * 3);
    line-height: calc(var(--yr) * 4);

    @media (--s) {
      font-size: calc(var(--yr) * 3.5);
      line-height: calc(var(--yr) * 5);
    }
  }

  & img {
    display: block;
    width: 100%;
  }

  @media (--s) {
    margin: 0 0 calc(var(--yr) * 4);
  }
}
