.item {
  margin-bottom: calc(var(--yr) * var(--s3));

  & label {
    display: block;
  }

  & .delete {
    background-color: var(--rd_color);
    padding: var(--yr) calc(var(--yr) * 8) var(--yr) calc(var(--yr) * 2);
    position: absolute;
    right: 0;
    font-size: calc(var(--yr) * 3);
    line-height: calc(var(--yr) * 4);
    z-index: 1;

    @media (--s) {
      font-size: calc(var(--yr) * 3.5);
      line-height: calc(var(--yr) * 5);
    }

    &::after {
      border-left: 1px solid #fff;
      padding: 0 var(--yr);
      position: absolute;
      content: '✕';
      right: var(--yr);
    }

    &:not(:last-child) {
      margin-right: 0;
    }

    &:hover {
      &:not(:disabled) {
        &:not(.pending) {
          background: #fd4a4a;
        }
      }
    }
  }
}

.label {
  composes: bt from './Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s1));
  /* font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 5); */

  /* @media (--s) {
    font-size: calc(var(--yr) * 5);
    line-height: calc(var(--yr) * 6);
  } */
}

.input {
  position: relative;

  & select,
  & textarea,
  & input {
    font-size: calc(var(--yr) * 4);
    line-height: calc(var(--yr) * 4);
    height: calc(var(--yr) * 12);
    display: block;
    width: 100%;
    border: 0;
    appearance: none;
    box-shadow: inset 0 0 0 1px color-mod(var(--sp_color) shade(7%));
    /* border-radius: calc(var(--yr) * 2); */
    outline: none;
    background: #fff;
    padding: calc(var(--yr) * 4) calc(var(--yr) * 4);
    transition: 0.3s box-shadow;

    @media (--s) {
      line-height: calc(var(--yr) * 6);
      height: calc(var(--yr) * 14);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px var(--hl_color);
    }
  }

  & textarea {
    resize: vertical;
    height: auto;
    line-height: calc(var(--yr) * 6);
  }

  & select {
    /* background-color: red; */
    background: no-repeat #fff url('../images/dropdown.svg') right var(--xr) center;
    background-size: calc(var(--yr) * 6);

    /* width: 10px; */
    /* height: 10px; */
  }
}

.checkbox {
  & label {
    display: block;
    padding: var(--yr) calc(var(--yr) * 6);
    position: relative;
    user-select: none;
    cursor: pointer;

    & input {
      appearance: none;
      border-radius: 2px;
      box-shadow: inset 0 0 0 2px var(--gr_color);
      display: block;
      height: 1rem;
      font-size: inherit;
      position: absolute;
      padding: var(--yr);
      margin: 0;
      left: 0;
      width: 1rem;
      outline: none;
      top: calc(var(--yr) * 1.5);
      transition-duration: 0.2s;
      transition-property: background, box-shadow;

      &::after {
        content: '';
        position: absolute;
        display: block;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEzLjc5NSAxTDUuNzkgMTIuNTI3IDIuMDM2IDguNTAzIDEgOS43NzMgNS45MTcgMTUgMTUgMi4xMTIgMTMuNzk1IDF6Ii8+PC9zdmc+);
        background-size: cover;
        width: 1em;
        height: 1em;
        left: 50%;
        top: 50%;
        opacity: 0;
        transition-duration: 0.2s;
        transition-property: opacity, transform;
        transform: translate(-50%, -50%);
      }

      &:checked {
        background-color: var(--hl_color);
        box-shadow: none;

        &::after {
          opacity: 1;
        }
      }

      &:focus {
        box-shadow: inset 0 0 0 2px var(--gr_color);
      }

      &:disabled {
        opacity: 0.3;
      }

      @media (--s) {
        top: calc(var(--yr) * 2);
      }
    }
  }
}

.submit {
  margin-top: calc(var(--yr) * var(--s4));
}

.error {
  composes: at from './Fonts.module.css';
  margin-top: calc(var(--yr) * var(--s1));
  color: #f00;
}
