.items {
  display: grid;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--xr);
  }

  @media (--m) {
    grid-column-gap: calc(var(--xr) * 2);
    grid-row-gap: 0;
  }
}

.item {
  display: block;
  border-bottom: 1px solid #DBDDDE;
  overflow: hidden;
  padding: 16px 0;

  @media (--m) {
    margin-bottom: 0;
  }

  &:hover {
    border-bottom: 1px solid var(--hl_color);
  }
}

.wrapper {
  max-height: 56px;
  align-self: flex-start;
}
