.items {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media(--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--yr) * 2);
    grid-row-gap: calc(var(--yr) * 2);
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & a {
    color: #fff;
  }
}

.item {
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * 2);
  background-color: var(--gr_color);

  &:before {
    content: '';
    display: block;
    min-height: 85px;

    @media(--m) {
      padding-top: calc(2 / 3 * 100%);
    }
  }

  @media(--m) {
    margin-bottom: 0;
  }
}

.title {
  position: absolute;
  top: calc(var(--yr) * 5);
  left: var(--xr);
  right: var(--xr);

  @media(--m) {
    top: calc(var(--yr) * 7);
    left: calc(var(--xr) * 2);
  }
}
