.items {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media(--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--yr) * 2);
    grid-row-gap: calc(var(--yr) * 2);
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & a {
    color: #fff;
  }
}

.item {
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * 2);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gr_color);

  &:before {
    content: '';
    display: block;
    padding-top: calc(1 / 2 * 100%);

    @media(--m) {
      padding-top: calc(2 / 3 * 100%);
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #000;
    opacity: 0.5;
  }

  @media(--m) {
    margin-bottom: 0;
  }
}

.title {
  composes: h4 from './Fonts.module.css';
  position: absolute;
  top: calc(var(--yr) * 5);
  left: var(--xr);
  right: calc(var(--xr) * 2);
  z-index: 1;

  @media(--m) {
    top: calc(var(--yr) * 7);
    left: calc(var(--xr) * 2);
  }
}

.image_1 {
  background-image: url('./Pages/Index/Images/1.jpg');
}

.image_2 {
  background-image: url('./Pages/Index/Images/2.jpg');
}

.image_3 {
  background-image: url('./Pages/Index/Images/3.jpg');
}

.image_4 {
  background-image: url('./Pages/Index/Images/4.jpg');
}

.image_5 {
  background-image: url('./Pages/Index/Images/5.jpg');
}

.image_6 {
  background-image: url('./Pages/Index/Images/6.jpg');
}
