.items {
  hyphens: auto;
  display: grid;
  grid-row-gap: var(--xr);
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--xr);
  }

  @media (--m) {
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  }
}

.item {
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: calc(var(--yr) * 2);
  color: #fff;
  /* margin-bottom: calc(var(--yr) * 2); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gr_color);
  background-position: center;

  &::before {
    content: '';
    display: block;
    padding-top: calc(1 / 2 * 100%);

    @media (--s) {
      padding-top: calc(2 / 3 * 100%);
    }

    @media (--m) {
      min-height: 14rem;
      padding-top: 0;
      /* padding-top: calc(1 / 2.5 * 100%); */
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #000;
    opacity: 0.5;
    transition: background 0.3s, opacity 0.3s;
  }

  @media (--m) {
    margin-bottom: 0;
  }

  &:hover {
    color: #fff;

    &::after {
      background: var(--hl_color);
      opacity: 0.75;
    }
  }
}

.item-4711 {
  background-image: url(./Pages/Index/Images/3.jpg) !important;
}

.item-6191 {
  background-image: url(./Pages/Index/Images/bulletin.jpg) !important;
}

.external {
  position: absolute;
  bottom: calc(var(--yr) * 5);
  left: var(--xr);
  width: 1.375rem;
  height: 1.375rem;
  height: auto;
  stroke: #fff;
  stroke-width: 1.5;
  z-index: 1;

  @media (--m) {
    bottom: calc(var(--yr) * 7);
    left: calc(var(--xr) * 2);
  }
}

.title {
  composes: h4 from './Fonts.module.css';
  position: absolute;
  top: calc(var(--yr) * 5);
  left: var(--xr);
  right: calc(var(--xr) * 2);
  z-index: 1;
  max-width: 28rem;

  @media (--m) {
    top: calc(var(--yr) * 7);
    left: calc(var(--xr) * 2);
  }
}

:global .schema_3 {
  & :local .item {
    color: #9fd2fd;
  }
}
