.root {
  @media (--s) {
    grid-column: span 12;
    margin-bottom: calc(var(--yr) * calc(var(--s4) * 2));
  }
}

.container {
  padding: 0 calc(var(--yr) * 4);
  max-width: 120rem;
  margin: 0 auto;

  @media (--s) {
    padding: 0 calc(var(--yr) * 8);
  }

  @media (--m) {
    padding: 0 calc(var(--yr) * 12);
  }

  @media (--l) {
    padding: 0 calc(var(--yr) * 40);
  }
}

.loafs {
  display: none;

  @media (--s) {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.loaf {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin-right: var(--yr);
  text-overflow: ellipsis;
  max-width: 300px;

  &::after {
    content: "–";
    color: #777;
    margin-left: var(--yr);
  }

  & a {
    color: #777;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.main {
  position: relative;
  margin-right: var(--yr);
  color: #777;

  &::after {
    content: "–";
    /* color: #777; */
    margin-left: var(--yr);
  }
}

.h2 {
  text-align: center;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    margin: 0 calc(1 / 8 * 100%) calc(var(--yr) * var(--s4));
  }
}

.h1 {
  composes: h0 from './Fonts.module.css';
  text-align: center;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    margin: 0 calc(1 / 8 * 100%) calc(var(--yr) * var(--s4));
  }
}
