.p {
  margin: 0 0 calc(var(--yr) * var(--s2));
  hyphens: auto;
}

.h2 {
  & strong {
    font-weight: normal;
  }
}

.h3 {
  & strong {
    font-weight: normal;
  }
}

.p,
.ul,
.ol {
  & + {
    & .h2,
    & .h3 {
      margin-top: calc(var(--yr) * var(--s5));
    }
  }
}

.ul {
  padding-left: 0.5rem;
  margin: 0 0 calc(var(--yr) * var(--s2));

  & li {
    margin-bottom: calc(var(--yr) * var(--s1));
    padding-left: 1.5rem;

    &::before {
      text-align: center;
      display: inline-block;
      width: 1.5rem;

      /* content: '\2022'; */
      content: '\2013';
      margin-left: -1.5rem;
    }
  }
}

.ol {
  padding-left: 0.5rem;
  counter-reset: li;

  & li {
    margin-bottom: calc(var(--yr) * var(--s1));
    padding-left: 1.5rem;
    counter-increment: li;

    &::before {
      text-align: center;
      display: inline-block;
      width: 1.5rem;
      content: counter(li) '.';
      margin-left: -1.5rem;
    }
  }
}

.img {
  display: block;
  max-width: 100%;
}

.cb1 {
  margin: 0 0 calc(var(--yr) * var(--s4));

  @media (--s) {
    margin: 0 0 calc(var(--yr) * var(--s4));
  }

  & .figure {
    max-width: 80%;
    margin: 0 auto;

    & img {
      border-radius: 50%;
      margin: 0 auto calc(var(--yr) * var(--s1));
      width: 5rem;
      height: 5rem;
      object-fit: cover;
    }
  }
}

.cb2 {
  margin: 0 0 calc(var(--yr) * var(--s4));
  display: grid;
  grid-template-columns: calc(2 / 6 * 100%) 1fr;
  grid-column-gap: calc(var(--xr) * 2);

  @media (--s) {
    margin: 0 0 calc(var(--yr) * var(--s4));
  }

  & > * {
    grid-column: 2 / span 1;
  }

  & .figure {
    grid-column: 1 / span 1;
    grid-row: 1 / 9999;
  }
}

.figcaption {
  composes: at from './Fonts.module.css';
  color: var(--gr_color);
  text-align: center;
  margin-bottom: 0;
}

.a {
  color: var(--pr_color);
  text-decoration: underline;
  text-decoration-color: color-mod(var(--pr_color) a(0.4));
  transition: text-decoration 0.3s, color 0.3s;

  &:hover {
    text-decoration-color: var(--hl_color);
    color: var(--hl_color);
  }
}

:global .schema_2 {
  & :local .a {
    color: var(--wh_color);
    text-decoration: underline;

    &:hover {
      color: var(--hl_color);
    }
  }
}

:global .schema_3 {
  & :local .a {
    color: #339;
    text-decoration: underline;

    &:hover {
      color: var(--hl_color);
    }
  }
}

.tableWrapper {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table {
  border-collapse: collapse;
  composes: at from './Fonts.module.css';
  margin: 0 0 calc(var(--yr) * var(--s4));

  & td {
    padding: var(--yr);
    padding-left: 0;
  }

  & tr {
    border-bottom: 1px solid var(--sp_color);

    & p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.gallery {
  margin: calc(var(--yr) * var(--s4)) 0;
  position: relative;

  @media (--s) {
    margin: calc(var(--yr) * calc(var(--s4) * 2)) calc(-1 / 6 * 100%);
  }
}

.element-invisible {
  display: none;
}

.button--main {
  background-color: var(--hl_color);
  color: #fff;
  composes: bt from './Fonts.module.css';
  display: inline-block;
  cursor: pointer;
  /* text-align: center; */
  border: none;
  padding: calc(var(--yr) * var(--s2)) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  outline: none;
  appearance: none;
  text-decoration: none;

  &:disabled {
    background: #b8bfe6;
  }

  &:active {
    background: #2a46d1;
  }

  &:hover {
    &:not(:disabled) {
      &:not(.pending) {
        color: #fff;
        background: #35f;
      }
    }
  }
}

:global .schema_2 {
  & :local .button--main {
    color: var(--wh_color);
    background-color: var(--hl_color);
    text-decoration: none;

    &:hover {
      color: var(--hl_color);
    }
  }
}

.button--sec {
  appearance: none;
  background-color: #eceff1;
  color: #141414;
  composes: bt from './Fonts.module.css';
  display: inline-block;
  cursor: pointer;

  /* position: static; */
  border: none;
  text-align: center;
  padding: calc(var(--yr) * var(--s2)) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  outline: none;

  &:hover {
    color: var(--hl_color);
  }

  &:active {
    background-color: #d4d7d9;
  }
}

:global .schema_2 {
  & :local .button--sec {
    color: var(--wh_color);
    background-color: var(--hl_color);
    text-decoration: none;

    &:hover {
      color: var(--hl_color);
    }
  }
}

.p .button--sec {
  margin-bottom: calc(var(--yr) * var(--s1));
}
