:root {
  --pr_color: #333;
  --hl_color: #2e4de6;
  --hld_color: #2944cc;
  --gr_color: #727272;
  --sp_color: #eceff1;
  --wh_color: #fff;
  --rd_color: #ea2a2a;

  --hl_h_color: #35f;
  --hl_o_color: #ee6f47;
  --hl_d_color: #2a46d1;

  --yr: 0.25rem;
  --xr: 1rem;

  --s1: 2;
  --s2: 3;
  --s3: 6;
  --s4: 7.5;
  --s5: 9;
  --s6: 12;

  @media (--s) {
    --s1: 2;
    --s2: 4;
    --s3: 7;
    --s4: 11;
    --s5: 14;
    --s6: 21;
  }
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1280px);
@custom-media --xl (min-width: 1600px);
