:root {
  --pr_color: #333333;
  --hl_color: #2F53EB;
  --gr_color: #777777;
  --sp_color: #ECEFF1;

  --yr: 0.25rem;
  --xr: 1rem;

  --s1: 2;
  --s2: 3;
  --s3: 6;
  --s4: 9;
  --s5: 16;

  @media (--s) {
    --s1: 3;
    --s2: 4;
    --s3: 8;
    --s4: 12;
    --s5: 20;
  }
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1280px);
@custom-media --xl (min-width: 1600px);
