.root {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.text {
  composes: bt from '../../Fonts.module.css';
  max-width: 60rem;
}

.logos {
  margin-bottom: calc(var(--yr) * var(--s2));
  display: flex;
  align-items: center;

  & img {
    display: block;
  }
}

.mc {
  margin-right: var(--xr);
  height: 30px;
}

.visa {
  margin-right: var(--xr);
  height: 20px;
}

.mir {
  height: 20px;
}
