.form {
  max-width: 30rem;
}

.no {
  margin-top: calc(var(--yr) * var(--s4));
}

.invoices {
  display: grid;
  grid-row-gap: calc(var(--yr) * var(--s3));

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.invoice {
  background-color: #fff;
  display: block;
  padding: calc(var(--yr) * var(--s3)) var(--xr);

  @media (--s) {
    padding: calc(var(--yr) * var(--s3)) calc(var(--xr) * 2);
  }
}

.title {
  composes: h3 from '../../Fonts.module.css';
  margin-top: calc(var(--yr) * var(--s4));
}

.number {
  font-weight: bold;
}

.desc {
  margin-top: calc(var(--yr) * var(--s1));
  color: var(--gr_color);
}

.amount {
  margin-top: calc(var(--yr) * var(--s1));
}
