.root {
  & a {
    color: var(--pr_color);
    text-decoration: underline;
    text-decoration-color: color-mod(var(--pr_color) a(0.4));
    transition: text-decoration 0.3s, color 0.3s;

    &:hover {
      text-decoration-color: var(--hl_color);
      color: var(--hl_color);
    }
  }
}

.security {
  composes: mt from '../../Fonts.module.css';
}

.payments {
  margin-bottom: calc(var(--yr) * var(--s4));
}
