- set_meta_tags \
  title: @node.title

= react_component 'Docs/Index', { \
  node: @node.as_json(only: :title, methods: :text),
  docs: @node.docs.as_json(only: [], methods: %i[fid path title wrapper size mime]),
  loaf: @node.loaf.as_json(only: %i[mlid depth], methods: %i[title path]) \
}
