.root {
  composes: container from '../Pages.module.css';
  display: flex;
  align-items: center;
  position: relative;
  height: calc(var(--yr) * 16);

  @media (--l) {
    /* grid-template-columns: 1fr 9fr 2fr; */
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (--s) {
    top: calc(var(--s5) * var(--yr));
  }

  &.special {
    top: 48px;

    @media (--s) {
      top: calc(var(--s5) * var(--yr) + 64px);
    }
  }

  &.active {
    /* z-index: 3; */
  }
}

.logo {
  z-index: 1;
  margin-right: auto;

  & a {
    padding: calc(var(--yr) * 3) 0;
    display: block;

    @media (--s) {
      padding: 0;
    }
  }

  & svg {
    display: block;
    height: calc(var(--yr) * 10);

    & circle {
      fill: #fff;
    }

    & path {
      fill: var(--hl_color);
    }

    @media (--s) {
      height: calc(var(--yr) * 16);
    }
  }

  @media (--l) {
    margin-right: calc(var(--xr) * 2);
  }
}

.navIcon {
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: calc(var(--yr) * 3);
  order: 1;
  margin-right: calc(var(--yr) * 3 * -1 - 3px);
  margin-left: -3px;
  z-index: 1;
  cursor: pointer;
  user-select: none;

  & svg {
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);
    display: block;
  }

  &.white {
    & svg {
      & rect {
        fill: #fff;
      }
    }
  }

  &.active {
    & svg {
      & rect {
        fill: #000;
      }
    }
  }

  @media (--l) {
    order: -1;
    margin-left: calc(var(--yr) * 3 * -1 - 3px);
    margin-right: calc(var(--yr) * 3 * -1 - 3px + var(--xr) * 2);
  }
}

.specialIcon {
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: calc(var(--yr) * 2);
  cursor: pointer;
  user-select: none;

  & svg {
    width: calc(var(--yr) * 8);
    height: calc(var(--yr) * 8);
    display: block;
  }

  &.white {
    & svg {
      & path {
        fill: white;
      }
    }
  }

  @media (--l) {
    order: 1;
  }
}

.searchIcon {
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: calc(var(--yr) * 2);
  cursor: pointer;
  user-select: none;

  & svg {
    width: calc(var(--yr) * 8);
    height: calc(var(--yr) * 8);
    display: block;
  }

  &.white {
    & svg {
      & path {
        fill: white;
      }
    }
  }

  @media (--l) {
    order: 1;
  }
}

.nav {
  display: none;

  @media (--l) {
    display: block;
    margin-right: auto;
  }
}

.locales {
  display: none;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(calc(var(--yr) * -12));
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;

  @media (--s) {
    transform: translateY(calc(var(--yr) * -28));
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(calc(var(--yr) * -16));

    @media (--s) {
      transform: translateY(calc(var(--yr) * -32));
    }
  }
}

.overlay {
  visibility: hidden;
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: visibility 0s ease 0.3s, opacity 0.3s;

  &.active {
    visibility: visible;
    opacity: 0.4;
    transition: opacity 0.3s;
  }
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transform: translateY(calc(var(--yr) * -2));
  transition: visibility 0s ease 0.2s, opacity 0.2s, transform 0.2s;

  @media (--s) {
    top: calc(var(--yr) * var(--s5) * -1);
    height: calc(var(--yr) * 16 + calc(var(--yr) * var(--s5) * 2));
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(0);
  }
}
