.root {
  display: grid;
  grid-template-columns: calc(var(--yr) * 16) 1fr calc(var(--yr) * 12);
  position: relative;
  height: calc(var(--yr) * 16);
  max-width: 120rem;
  margin: 0 auto;
  z-index: 8;

  @media (--s) {
    grid-template-columns: calc(var(--yr) * 28) 1fr calc(var(--yr) * 18);
    height: calc(var(--yr) * 32);
  }

  @media (--m) {
    grid-template-columns: calc(var(--yr) * 40) 1fr calc(var(--yr) * 18);
  }

  @media (--l) {
    grid-template-columns: calc(var(--yr) * 40) 1fr calc(var(--yr) * 36);
  }
}

.container {
  position: relative;

  &.index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.active {
    z-index: 3;
  }
}

.nav {
  width: max-content;
  order: 1;

  @media (--l) {
    order: 0;
  }
}

.service {
  align-self: center;
}

.locales {
  display: none;
}

.logo {
  & a {
    padding: calc(var(--yr) * 3) 0;
    display: block;

    @media (--s) {
      padding: calc(var(--yr) * 8) 0;
    }
  }

  & svg {
    margin: 0 auto;
    display: block;
    height: calc(var(--yr) * 10);

    & circle {
      fill: #fff;
    }

    & path {
      fill: var(--hl_color);
    }

    @media (--s) {
      height: calc(var(--yr) * 16);
    }
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  border-top: 2px solid #eee;
  z-index: 3;
  transform: translateY(calc(var(--yr) * -34));
  transition: visibility 0s, opacity 0.3s, transform 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(calc(var(--yr) * -16));
    transition: visibility 0s, opacity 0.3s, transform 0.3s;

    @media(--s) {
      transform: translateY(calc(var(--yr) * -32));
    }

    @media(--l) {
      transform: translateY(calc(var(--yr) * -32));
    }
  }
}

.overlay {
  visibility: hidden;
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s;

  &.active {
    visibility: visible;
    opacity: .4;
    transition: opacity .3s;
  }
}

.search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  transform: translateY(calc(var(--yr) * -2));
  /* transition: opacity 0.2s; */
  transition: visibility 0s ease 0.2s, opacity 0.2s, transform 0.2s;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(0);
  }
}

.white {
  &.logo {
    & svg {
      & path {
        fill: #fff;
      }

      & circle {
        fill: var(--hl_color);
      }
    }
  }
}

.blue {
  &.logo {
    & svg {
      & path {
        fill: var(--hl_color);
      }

      & circle {
        fill: #fff;
      }
    }
  }
}
