.root {
  /* max-width: 120rem; */
  /* margin: 0 auto; */
  padding: calc(var(--yr) * var(--s3)) 0;

  @media (--s) {
    /* padding: calc(var(--xr) * 2); */
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & a {
    color: #000;
  }
}

:global .schema_2 {
  & :local .root {
    & a {
      color: #fff;
    }
  }
}

.container {
  padding: calc(var(--yr) * 16) calc(var(--yr) * 4) 0;
  max-width: 120rem;
  margin: 0 auto;

  @media (--s) {
    padding: calc(var(--yr) * 32) calc(var(--yr) * 12) 0;
  }
}

.l2 {
  composes: at from '../Fonts.module.css';

  & li {
    margin-bottom: calc(var(--yr) * var(--s2));
  }
}

.main {
  max-width: 100%;
  overflow: hidden;

  /* &:not(:last-child) {
    margin-bottom: calc(var(--yr) * var(--s4));
  } */
}

.nav {
  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.first {
  display: block;
  hyphens: auto;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
  composes: h3 from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s3));
}
