.root {
  /* max-width: 120rem; */
  /* margin: 0 auto; */
  padding: calc(var(--yr) * var(--s3)) 0;

  @media (--s) {
    /* padding: calc(var(--xr) * 2); */
  }

  & ul {
    margin: 0;
    padding: 0;

    &.nav {
      @media (--l) {
        margin-left: calc(1 / 12 * 100%);
      }
    }
  }

  & li {
    list-style: none;
  }

  & a {
    color: #000;

    &:hover {
      color: var(--hl_color)
    }
  }
}

.container {
  padding: calc(var(--yr) * 16) calc(var(--yr) * 6) 0;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;

  @media (--s) {
    padding: calc(var(--yr) * 32) calc(var(--yr) * 8) 0;
  }

  @media (--m) {
    padding: calc(var(--yr) * 32) calc(var(--yr) * 12) 0;
  }

  @media (--l) {
    padding: calc(var(--yr) * 32) calc(var(--yr) * 24) 0;
  }

  @media (--xl) {
    padding: calc(var(--yr) * 32) calc(var(--yr) * 40) 0;
  }
}

.l2 {
  composes: at from '../Fonts.module.css';

  & li {
    margin-bottom: calc(var(--yr) * var(--s1));
  }

  & a {
    color: var(--gr_color);
  }
}

.main {
  max-width: 100%;
  overflow: hidden;

  /* &:not(:last-child) {
    margin-bottom: calc(var(--yr) * var(--s4));
  } */
}

.nav {
  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--l) {
    grid-template-columns: 3fr 2fr 3fr 3fr;
  }
}

.first {
  display: block;
  hyphens: auto;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
  composes: h4 from '../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s2));
}

.close {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: calc(var(--yr) * 8);
  top: calc(2 * var(--yr));
  transform: translateY(-50%);
  z-index: 9;

  & svg {
    display: block;
    width: calc(var(--yr) * 8);
    height: calc(var(--yr) * 8);
  }

  @media (--s) {
    top: calc(var(--yr) * 17);
    right: calc(var(--yr) * 8);
  }

  @media (--m) {
    right: calc(var(--yr) * 14);
  }

  @media (--l) {
    right: calc(var(--yr) * 26);
  }

  @media (--xl) {
    right: calc(var(--yr) * 42);
  }
}
