.root {
  /* padding: calc(var(--yr) * var(--s3)) 0; */

  & ul {
    margin: 0;
    padding: 0;

    &.nav {
      @media (--l) {
        margin-left: 10rem;
      }
    }
  }

  & li {
    list-style: none;
  }

  & a {
    color: #000;

    &:hover {
      color: var(--hl_color);
    }
  }
}

:global .schema_2 {
  & :local .root {
    & a {
      color: var(--wh_color);
    }
  }
}

:global .schema_3 {
  & :local .root {
    & a {
      color: #339;
    }
  }
}

.container {
  padding: calc(var(--yr) * var(--s4) * 2) calc(var(--xr) * 1);
  max-width: 120rem;
  margin: 0 auto;
  position: relative;

  @media (--s) {
    padding: calc(var(--yr) * var(--s6) * 2) calc(var(--xr) * 2);
  }

  @media (--m) {
    padding: calc(var(--yr) * var(--s6) * 2) calc(var(--yr) * 12);
  }

  @media (--l) {
    padding: calc(var(--yr) * var(--s3) * 2) calc(var(--yr) * 24) calc(var(--yr) * var(--s6) * 2);
  }

  @media (--xl) {
    padding: calc(var(--yr) * var(--s3) * 2) calc(var(--yr) * 40) calc(var(--yr) * var(--s6) * 2);
  }
}

.l2 {
  composes: at from '../Fonts.module.css';

  & li {
    margin-bottom: calc(var(--yr) * var(--s1));
  }

  & a {
    color: var(--gr_color);
  }
}

.main {
  max-width: 100%;
  overflow: hidden;
}

.nav {
  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--l) {
    /* grid-template-columns: 3fr 2fr 3fr 3fr; */
  }
}

.first {
  display: block;
  hyphens: auto;
  composes: bt from '../Fonts.module.css';
  padding: calc(var(--yr) * var(--s2)) 0;
  border-bottom: 1px solid var(--sp_color);
}

:global .schema_3 {
  & :local .first {
    border-bottom: 1px solid #339;
  }
}

.close {
  display: flex;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: calc(2 * var(--yr));
  transform: translateY(-50%);
  z-index: 9;
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: calc(var(--yr) * 3);

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);
  }

  @media (--s) {
    top: calc(var(--yr) * 17);
    right: calc(var(--yr) * 3 + 5px);
  }

  @media (--m) {
    right: calc(var(--yr) * 7 + 5px);
  }

  @media (--l) {
    right: calc(var(--yr) * 26 - 3px);
  }

  @media (--xl) {
    right: calc(var(--yr) * 42 - 3px);
  }
}
