.root {
  padding: calc(var(--yr) * 2) 0;
  user-select: none;

  @media (--s) {
    padding: calc(var(--yr) * 10) 0;
  }
}

.toggle {
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: 17px 14px;
  cursor: pointer;

  @media (--m) {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 14px;
  }
}

.navs {
  margin: 0;
  padding: 0;
  display: none;
  line-height: calc(var(--yr) * 12);

  @media (--m) {
    display: flex;
  }
}

.nav {
  list-style: none;
  color: #fff;

  & a {
    color: #fff;

    &:hover {
      /* text-decoration: underline; */
    }
  }

  &:not(:last-child) {
    margin-right: calc(var(--xr) * 2);
  }
}
