.root {
  padding: calc(var(--yr) * 2) 0;
  user-select: none;

  @media (--s) {
    /* padding: calc(var(--yr) * 10) 0; */
  }
}

.toggle {
  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: 17px 14px;
  cursor: pointer;
  position: relative;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: calc(var(--yr) * 5);
  }

  @media (--l) {
    display: none;
  }
}

.navs {
  margin: 0;
  padding: 0;
  display: none;
  line-height: calc(var(--yr) * 12);
  list-style: none;

  & a {
    color: #000;
  }

  @media (--l) {
    display: flex;
  }
}

.covid {
  background-color: #e63246;
  line-height: calc(var(--yr) * 11);
  padding: 0 calc(var(--yr) * 4);
  color: #fff !important;
  margin-top: calc(var(--yr) * 0.5);
  /* border-radius: calc(var(--yr) * 2); */
}

.abitur {
  background-color: var(--hl_color);
  line-height: calc(var(--yr) * 11);
  padding: 0 calc(var(--yr) * 4);
  color: #fff !important;
  margin-top: calc(var(--yr) * 0.5);
  transition: background 0.2s;

  &:hover {
    background-color: var(--hl_h_color);
  }
}

.nav {
  margin-right: calc(var(--xr) * 2);

  & a {
    display: block;

    &:hover {
      color: var(--hl_color)
    }
  }
}

.more {
  cursor: pointer;

  &:hover {
    color: var(--hl_color)
  }
}

.white {
  color: var(--wh_color);

  & .more {
    &:hover {
      color: var(--wh_color)
    }
  }

  & a {
    color: var(--wh_color);

    &:hover {
      color: var(--wh_color);
    }
  }
}

.black {
  color: #000;

  & a {
    color: #000;

    &:hover {
      color: var(--hl_color)
    }
  }

  & .more {
    &:hover {
      color: var(--hl_color)
    }
  }
}
