.root {
  position: relative;
  background: #fff;
  padding: calc(var(--yr) * 9.5) 0;

  @media (--s) {
    padding: calc(var(--yr) * 6) 0;
  }
}

.input {
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  padding-right: calc(var(--yr) * 14);
  padding-left: calc(var(--yr) * 14);
  composes: h3 from '../Fonts.module.css';

  @media (--s) {
    line-height: calc(var(--yr) * 32);
    padding-right: calc(var(--xr) * 7);
    padding-left: calc(var(--xr) * 5);
  }
}

.icon {
  display: block;
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  position: absolute;
  left: calc(var(--yr) * 4);
  top: 50%;
  fill: var(--gr_color);
  transform: translateY(-50%);

  @media (--s) {
    left: calc(var(--xr) * 2);
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: calc(var(--yr) * 2);
  top: 50%;
  transform: translateY(-50%);
  padding: calc(var(--yr) * 2);

  & svg {
    display: block;
    width: calc(var(--yr) * 8);
    height: calc(var(--yr) * 8);
  }

  @media (--s) {
    right: calc(var(--xr) * 2);
  }

  @media (--m) {
    right: calc(var(--xr) * 3);
  }
}
