.root {
  position: relative;
  background: #fff;
  padding: calc(var(--yr) * 5) 0;

  @media (--s) {
    padding: calc(var(--yr) * 6) 0;
  }
}

.container {
  composes: container from '../Pages.module.css';
}

.form {
  position: relative;
}

.input {
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  padding-right: calc(var(--yr) * 12);
  padding-left: calc(var(--yr) * 12);
  composes: h3 from '../Fonts.module.css';

  @media (--s) {
    line-height: calc(var(--yr) * 32);
    padding-right: calc(var(--xr) * 7);
    padding-left: calc(var(--xr) * 5);
  }
}

.icon {
  display: block;
  width: calc(var(--yr) * 8);
  height: calc(var(--yr) * 8);
  position: absolute;
  left: calc(var(--yr) * 4);
  top: 50%;
  fill: var(--gr_color);
  transform: translateY(-50%);

  @media (--s) {
    left: calc(var(--xr) * 2);
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: calc(var(--yr) * 3 * -1 - 3px);
  /* padding: calc(var(--yr) * 2); */

  width: calc(var(--yr) * 12);
  height: calc(var(--yr) * 12);
  padding: calc(var(--yr) * 3);

  @media (--l) {
    margin-right: 0;
  }

  & svg {
    display: block;
    width: calc(var(--yr) * 6);
    height: calc(var(--yr) * 6);
  }
}
