.font_2 {
  font-size: calc(var(--yr) * 4.5);
}

.font_3 {
  font-size: calc(var(--yr) * 5);
}

.spacing_1 {
  letter-spacing: normal;
}

.spacing_2 {
  letter-spacing: 0.12em;
}

.spacing_3 {
  letter-spacing: 0.24em;
}
