.font_2 {
  font-size: calc(var(--yr) * 3.5 * 1.5);
  line-height: calc(var(--yr) * 5 * 1.5);

  @media (--s) {
    font-size: calc(var(--yr) * 4 * 1.5);
    line-height: calc(var(--yr) * 6 * 1.5);
  }
}

.font_3 {
  font-size: calc(var(--yr) * 3.5 * 2);
  line-height: calc(var(--yr) * 5 * 2);

  @media (--s) {
    font-size: calc(var(--yr) * 4 * 2);
    line-height: calc(var(--yr) * 6 * 2);
  }
}

.spacing_1 {
  /* letter-spacing: normal; */
}

.spacing_2 {
  letter-spacing: 0.2em;
}

.spacing_3 {
  letter-spacing: 0.4em;
}

.schema_2 {
  background: #000;
  color: #fff;
}
