- set_meta_tags \
  title: 'Направления подготовки и специальности'

= react_component 'Divisions/Divisions', { \
  node: @node.as_json(only: :title),
  divisions: @divisions.as_json(include: { division_courses: { \
      only: %i[title nid],
      methods: %i[path spec level youtube ege price_1 price_2 price_3 time_1 time_2 time_3 places_1 places_2 places_3]} \
    }, \
    only: %i[title nid]),
}, { prerender: Rails.env.production? }
