.root {
  background-color: #333;
  padding: calc(var(--yr) * var(--s4)) 0;
}

.container {
  padding: 0 calc(var(--yr) * 4);
  max-width: 120rem;
  margin: 0 auto;

  @media (--s) {
    padding: 0 calc(var(--yr) * 8);
  }

  @media (--m) {
    padding: 0 calc(var(--yr) * 12);
  }

  @media (--xl) {
    padding: 0 calc(var(--yr) * 40);
  }
}

.wrapper {
  display: block;

  @media(--s) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--xr);
    grid-row-gap: 24px;
  }

  @media(--m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 2);

  }
}

/* .line {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.08;
  border-top: 2px solid #fff;
} */

.navs {
  composes: at from '../Fonts.module.css';
  display: grid;

  /* @media (--s) {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--xr);
    margin-bottom: calc(var(--yr) * calc(var(--s4)));
  } */

  @media (--s) {
    grid-row-gap: calc(var(--yr) * 6);
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.main {
  /* margin-bottom: calc(var(--yr) * var(--s2)); */
  position: relative;

  & .first {
    display: flex;
    color: #fff;
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  & a {
    color: var(--gr_color);
  }
}

.toggle {
  margin-left: auto;

  &:before {
    content: '+';
    display: block;

    @media(--s) {
      display: none;
    }
  }
}

.second {
  display: none;

  @media(--s) {
    display: block;
    margin-bottom: calc(var(--yr) * 2);
  }
}

.info {
  display: block;

  @media(--s) {
    display: grid;
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.title {
  color: #fff;
  margin-bottom: calc(var(--yr) * var(--s2));

  @media(--s) {
    margin-bottom: 0;
  }
}

.index {
  margin-bottom: calc(var(--yr) * 2);
}

.connect {
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: 0
  }
}

/* .media {
  color: #B7B7B7;
  background-color: #333;
  padding: calc(var(--yr) * var(--s4)) 0;

  & .title {
    text-align: center;
    margin-bottom: calc(var(--yr) * var(--s3));
  }
} */

/* .logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  margin-right: calc(var(--yr) * calc(var(--s1) * 2));

  &:last-child {
    margin-right: 0;
  }

  & svg {
    height: 2rem;
    width: 2rem;
    display: block;
    fill: #fff;
    opacity: 0.65;
  }
} */

.links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--yr) * var(--s2));

  & a {
    color: #fff;
  }

  @media(--s) {
    margin-bottom: 0;
  }
}

.link {
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid var(--gr_color);

  &:first-child {
    border-top: 1px solid var(--gr_color);
  }
}

.adress, .media {
  color: #fff;
  margin-bottom: calc(var(--yr) * var(--s3));

  & a {
    color: #fff;
  }

  @media(--s) {
    margin-bottom: 0;
  }
}

.button {
  text-decoration: underline;
}
