.root {
  background-color: #333;
  padding: calc(var(--yr) * var(--s4)) 0 0;
}

.container {
  padding: 0 calc(var(--yr) * 4);
  max-width: 120rem;
  margin: 0 auto;

  @media (--s) {
    padding: 0 calc(var(--yr) * 8);
  }

  @media (--m) {
    padding: 0 calc(var(--yr) * 12);
  }

  @media (--xl) {
    padding: 0 calc(var(--yr) * 40);
  }
}

.wrapper {
  display: block;

  @media(--s) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--xr);
  }

  @media(--m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.line {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.08;
  border-top: 2px solid #fff;
}

.navs {
  display: none;
  composes: at from '../Fonts.module.css';

  @media (--s) {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--xr);
    margin-bottom: calc(var(--yr) * calc(var(--s4)));
  }

  @media (--m) {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(var(--xr) * 2);

  }
}

.main {
  margin-bottom: calc(var(--yr) * var(--s2));

  & .first {
    display: block;
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  & a {
    color: #B7B7B7;
  }
}

.second {
  display: block;
  margin-bottom: calc(var(--yr) * 2);
}

.info {
  color: #B7B7B7;

  & a {
    color: #B7B7B7;
  }

  & .phone, & .fax {
    margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
  }

  @media  (--s) {
    /* grid-column: 10 / span 3; */
  }
}

.button {
  border-radius: var(--yr);
  padding: 10px 16px;
  background-color: var(--hl_color);
  color: #fff;
  width: fit-content;

  & a {
    color: #fff;
  }
}

.adress {
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: 32px;
  }
}

.index {
  margin-bottom: calc(var(--yr) * 2);
}

.text {
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));

  @media(--s) {
    margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
  }
}

.connect {
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: 0
  }
}

.media {
  color: #B7B7B7;
  background-color: #333;
  padding: calc(var(--yr) * var(--s4)) 0;

  & .title {
    text-align: center;
    margin-bottom: calc(var(--yr) * var(--s3))
  }

  @media(--s) {
    /* grid-column: span 12; */
  }
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /* cursor: pointer; */
  display: block;
  margin-right: calc(var(--yr) * calc(var(--s1) * 2));
  /* position: relative; */

  &:last-child {
    margin-right: 0;
  }

  & svg {
    height: 2rem;
    width: 2rem;
    display: block;
    fill: #fff;
    opacity: 0.65;
  }
}
