.root {
  background-color: #333;
  padding-top: 24px;
  position: relative;

  @media(--s) {
    padding-top: 48px;
  }
}

.wrapper {
  display: block;

  @media(--s) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.line {
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
}

.navs {
  display: none;

  @media(--s) {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
  }
}

.main {
  margin-bottom: calc(var(--yr) * var(--s2));

  & .first {
    display: block;
    margin-bottom: calc(var(--yr) * var(--s2));
  }

  & a {
    color: #B7B7B7;
  }
}

.second {
  display: block;
  margin-bottom: calc(var(--yr) * 2);
}

.info {
  color: #B7B7B7;

  & a {
    color: #B7B7B7;
  }

  & .phone, & .fax {
    margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
  }

  @media(--s) {
    grid-column: 10 / span 3;
  }
}

.button {
  border-radius: var(--yr);
  padding: 10px 16px;
  background-color: var(--hl_color);
  color: #fff;
  width: fit-content;

  & a {
    color: #fff;
  }
}

.adress {
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: 32px;
  }
}

.index {
  margin-bottom: calc(var(--yr) * 2);
}

.text {
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));

  @media(--s) {
    margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
  }
}

.connect {
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));

  @media(--s) {
    margin-bottom: 0
  }
}

.media {
  color: #B7B7B7;
  background-color: #333;
  padding: calc(var(--yr) * var(--s3)) 0;

  & .title {
    text-align: center;
    margin-bottom: calc(var(--yr) * var(--s3))
  }

  @media(--s) {
    padding: calc(var(--yr) * var(--s4));
    grid-column: span 12;
  }
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-right: calc(var(--yr) * calc(var(--s1) * 2));
  height: 32px;
  width: 32px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
