.root {
  display: grid;
  grid-gap: calc(var(--yr) * var(--s3));

  @media (--m) {
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--xr) * 2);
  }
}

:global .schema_3 {
  & :local .root {
    color: #9fd2fd;
  }
}

/* .root {
  & h2 {
    @media (--m) {
      padding-right: 50%;
    }
  }
} */

.desc {
  composes: bt from '../../Fonts.module.css';
}

.how {
  margin-bottom: calc(var(--yr) * var(--s4));

  & a {
    &:not(:last-child) {
      margin-bottom: calc(var(--yr) * var(--s2));
    }
  }
}

.address {
  position: relative;
  min-height: calc(var(--yr) * 5 * 2);
  padding-left: 5em;
  margin-bottom: 0;

  @media (--s) {
    min-height: calc(var(--yr) * 6 * 2);
  }

  & svg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.button {
  composes: button--main from '../../Renderer.module.css';

  &:not(:last-child) {
    margin-right: var(--xr);
  }
}

:global .schema_3 {
  & :local .button {
    background-color: #339;
    color: #9fd2fd;
  }
}
