.handle {
  border-top: 1px solid var(--sp_color);
  padding: calc(var(--yr) * var(--s3)) 0;
  cursor: pointer;
  position: relative;

  & h3 {
    margin-right: 8rem;
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 26px;
    height: 2px;
    background-color: var(--pr_color);
    transform: translate(0, -50%);
  }

  &::after {
    content: '';
    position: absolute;
    right: 13px;
    top: 50%;
    width: 2px;
    height: 26px;
    background-color: var(--pr_color);
    transform: translate(50%, -50%);
  }

  &.active {
    &::after {
      opacity: 0;
    }
  }
}

.program {
  &:last-child {
    border-bottom: 1px solid var(--sp_color);
  }
}

h4 {
  margin-bottom: calc(var(--yr) * var(--s3));
}

.timing {
  padding: calc(var(--yr) * var(--s3)) 0;
}

.date {
  composes: bt from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s3));

  @media (--s) {
    display: grid;
    grid-template-columns: 2fr 10fr;
  }

  & > :last-child {
    color: var(--gr_color);
  }
}
