.facts {
  hyphens: auto;
  margin-bottom: calc(var(--yr) * var(--s5));

  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--yr) * var(--s4)) var(--xr);

    @media (--s) {
      grid-gap: calc(var(--yr) * var(--s4)) calc(var(--xr) * 2);
    }

    @media (--m) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  & li {
    padding-top: calc(var(--yr) * var(--s2));
    position: relative;
  }
}

.gt {
  color: var(--gr_color);
  composes: at from '../../Fonts.module.css';
  position: absolute;
  top: 0;
}

.digits {
  composes: h0 from '../../Fonts.module.css';
  color: var(--hl_color);
  margin-bottom: calc(var(--yr) * var(--s2));
  padding-bottom: calc(var(--yr) * var(--s2));
  border-bottom: 1px solid #dbddde;
}

.fact {
  /* composes: h4 from '../../Fonts.module.css'; */
  margin-bottom: 0;
}

.features {
  margin-bottom: calc(var(--yr) * var(--s6));
  /* composes: h4 from '../../Fonts.module.css'; */

  display: grid;
  grid-gap: calc(var(--yr) * var(--s4)) var(--xr);

  @media (--s) {
    grid-gap: calc(var(--yr) * var(--s4)) calc(var(--xr) * 2);
    grid-template-columns: 1fr 1fr;

    & .years100,
    & .w {
      grid-column: 1 / -1;
    }
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;

    & .years100 {
      grid-column: span 2;
      grid-row: span 3;
      padding-right: 10%;
    }

    & .w {
      grid-column: span 2;
    }
  }
}

.h0 {
  composes: h0 from '../../Fonts.module.css';
  color: var(--hl_color);
}

.pm {
  margin-bottom: 0;
  composes: h4 from '../../Fonts.module.css';
}

.p8 {
  margin-top: calc(var(--yr) * var(--s2));
  margin-bottom: 0;
}

.desc {
  composes: bt from '../../Fonts.module.css';
}

.text {
  @media (--l) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--xr) * 2);
  }
}
