.tabs {

  & ul {
    display: flex;
    flex-wrap: wrap;
  }

  & li {
    &:not(:last-child) {
      margin-right: calc(var(--xr) * 2);
    }
  }
}

.tab {
  composes: h3 from '../Fonts.module.css';
  margin-bottom: 0;
  display: block;
  padding: calc(var(--yr) * var(--s3)) 0;
  position: relative;

  &.active {
    color: var(--hl_color);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: var(--yr);
      background: var(--hl_color);
    }
  }
}
