.details {
  background-color: var(--sp_color);
}

.root {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.teachers {
  margin-bottom: calc(var(--yr) * var(--s6));
}

.intro,
.details,
.prospects,
.features,
.disciplines,
.competencies {
  margin-bottom: calc(var(--yr) * var(--s6));
}

.color-5997 {
  composes: color-5997 from './Index/Division.module.css';
}

.color-5998 {
  composes: color-5998 from './Index/Division.module.css';
}

.color-5999 {
  composes: color-5999 from './Index/Division.module.css';
}

.color-6000 {
  composes: color-6000 from './Index/Division.module.css';
}

.color-6001 {
  composes: color-6001 from './Index/Division.module.css';
}
