.grey_bg {
  background-color: #eceff1;
}

.root {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.level {
  composes: h4 from '../Fonts.module.css';
  text-align: center;
  margin-bottom: calc(var(--yr) * calc(var(--s4)));
}

.course_intro {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--yr) * 2);
  }
}

.course {
  display: block;
  padding: calc(var(--yr) * var(--s5)) 0;
  margin-bottom: calc(var(--yr) * var(--s6));

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-gap: calc(var(--yr) * 2);
  }
}

.title {
  composes: at from '../Fonts.module.css';
  margin-bottom: var(--yr);
  color: #727272;

  @media (--m) {
    margin-bottom: calc(var(--yr) * var(--s2));
  }
}

.code {
  display: none;
}

.code,
.name,
.profile,
.forms,
.places,
.prices {
  margin-bottom: calc(var(--yr) * 3.5);

  @media (--s) {
    margin-bottom: 0;
  }
}

.grey {
  color: #727272;
  margin-left: var(--yr);
}

.sub {
  display: flex;

  @media (--l) {
    margin-bottom: var(--yr);
  }
}

.ball {
  display: none;

  @media (--m) {
    display: block;
  }
}

.form {
  display: block;
  margin-right: var(--yr);

  @media (--m) {
    display: none;
  }
}

.item {
  display: flex;

  @media (--l) {
    margin-bottom: var(--yr);
  }
}

.intro {
  display: grid;
  grid-gap: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * var(--s6));

  @media (--s) {
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: calc(var(--yr) * var(--s6));
  }

  & .button {
    cursor: pointer;
    background-color: var(--hl_color);
    padding: calc(var(--yr) * 2) calc(var(--xr) * 2);
    margin: 0 auto;
    text-align: center;
    height: max-content;

    & a {
      color: #fff;
    }

    @media (--s) {
      grid-column: span 3;
      margin: 0;
    }

    &.ma {
      margin-left: auto;
    }
  }

  & .desc {
    @media (--s) {
      grid-column: 5 / span 8;
    }
  }
}

.youtube {
  position: relative;
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  background-color: #f1f1f1;
  background-position: center;
  background-size: cover;

  &::before {
    display: block;
    content: '';
    width: 100%;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    z-index: -1;
  }

  & iframe {
    border-radius: calc(var(--yr) * 2);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.text {
  hyphens: auto;
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 1.75));

  & p {
    margin: 0;
  }

  @media (--s) {
    width: calc(8 / 12 * 100%);
  }
}

.desc {
  & ul {
    padding-left: 0;

    & li {
      padding-left: calc(var(--yr) * 9.5);
      position: relative;

      &:before {
        background: var(--pr_color);
        border-radius: var(--yr);
        content: ' ';
        position: absolute;
        left: 0;
        top: calc(var(--yr) * 3.5);
        transform: translateY(-50%);
        margin-left: 0;
        height: calc(var(--yr) * 2);
        width: calc(var(--yr) * 2);
      }

      margin-bottom: calc(var(--yr) * var(--s2));
    }
  }
}

.desc {
  composes: bt from '../Fonts.module.css';

  font-weight: 300;
}

.section {
  display: block;
  position: relative;
  hyphens: auto;
  padding-bottom: calc(var(--yr) * var(--s6));


  &.disciplines,
  &.competencies {

  }

  &.disciplines,
  &.competencies {
    & .image {
      display: none;
    }

    & .desc {
      grid-column: span 2;
    }

    & ul {
      @media (--s) {
        display: grid;
        grid-column-gap: calc(var(--yr) * 7.5);
        grid-template-columns: repeat(2, 1fr);
      }
    }

    & li {
      padding-left: calc(var(--yr) * 13);

      &:before {
        background: none;
        background-image: url('./Show/Images/check.svg');
        background-size: cover;
        width: calc(var(--yr) * 5.5);
        height: calc(var(--yr) * 5.5);
      }
    }
  }

  &.disciplines {
    & li {
      padding: calc(var(--yr) * 2) 0 calc(var(--yr) * 2) calc(var(--yr) * 17.5);

      &:before {
        background-size: contain;
        background-repeat: no-repeat;
        height: 44px;
        transform: none;
        top: 0;
        width: 70px
      }

      &:nth-child(1) {
        &:before {
          background-image: url('./Show/Images/disciplines/1.svg');
        }
      }

      &:nth-child(2) {
        &:before {
          background-image: url('./Show/Images/disciplines/2.svg');
        }
      }

      &:nth-child(3) {
        &:before {
          background-image: url('./Show/Images/disciplines/3.svg');
        }
      }

      &:nth-child(4) {
        &:before {
          background-image: url('./Show/Images/disciplines/4.svg');
        }
      }

      &:nth-child(5) {
        &:before {
          background-image: url('./Show/Images/disciplines/5.svg');
        }
      }

      &:nth-child(6) {
        &:before {
          background-image: url('./Show/Images/disciplines/6.svg');
        }
      }

      &:nth-child(7) {
        &:before {
          background-image: url('./Show/Images/disciplines/7.svg');
        }
      }

    }
  }

  @media (--s) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: calc(var(--yr) * 7.5);

    &:nth-child(odd) {
      & .image {
        order: 2;
      }
    }
  }
}

.teachers {
  margin-bottom: calc(var(--yr) * calc(var(--s4) - var(--s2)));
}

.image {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &::before {
    display: block;
    content: '';
    padding-top: calc(1 / 1.75 * 100%);
  }

  &.features {
    background-image: url('./Show/Images/features.svg');
  }
/*
  &.disciplines {
    background-image: url('./Show/Images/disciplines.svg');
  }

  &.competencies {
    background-image: url('./Show/Images/competencies.svg');
  } */

  &.prospects {
    background-image: url('./Show/Images/prospects.svg');
  }
}
