.root {
  display: grid;

  @media (--m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 1.875);
  }
}

.ugsn {
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--m) {
    margin-bottom: calc(var(--yr) * 21);
  }
}

.title {
  composes: h2 from '../Fonts.module.css';

  @media (--s) {
    padding-left: calc(1 / 6 * 100%);
  }
}

.desc {
  display: none;

  @media (--s) {
    display: block;
    padding-right: calc(1 / 6 * 100%);
  }

  @media (--m) {
    display: block;
    padding-right: calc(2 / 6 * 100%);
  }
}

.intro {
  display: grid;
  background: var(--hl_color);
  border-radius: calc(var(--yr) * 2);
  color: var(--wh_color);
  padding: calc(var(--yr) * var(--s4)) var(--xr) calc(var(--yr) * var(--s5));
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
    padding: calc(var(--yr) * var(--s4)) 0 calc(var(--yr) * var(--s5));
  }
}
