- set_meta_tags \
  title: 'Нижегородский государственный лингвистический университет имени Н.А. Добролюбова',
  site: nil,
  description: 'Один из крупнейших и престижнейших лингвистических вузов страны, уникальное высшее учебное заведение для регионов и федерального округа.',
  canonical: root_url

= react_component 'Pages/Index', { \
  video: VideoSerializer.new(@video).serializable_hash,
  sliders: SliderSerializer.new(@sliders).serializable_hash,
  events: EventSerializer.new(@events).serializable_hash,
  news: NewsSerializer.new(@news).serializable_hash \
}, { prerender: Rails.env.production? }
