- set_meta_tags \
  title: @node.title

= react_component 'Pages/Show', { \
  node: @node.as_json(only: %i[nid title], methods: %i[text menu_open?], include: { images: { only: [], methods: %i[fid filemime filesize type width height path encoded_path] } }),
  docs: @node.docs.as_json(only: [], methods: %i[fid path title wrapper size mime display]),
  loaf: @node.loaf.as_json(only: %i[mlid depth], methods: %i[title path]),
  tutors: @node.dep? ? @node.node_tutors.includes(:image).as_json(only: %i[nid], methods: %i[title path], include: { image: { only: [], methods: %i[id path encoded_path] } }) : nil,
  navs: @node.navs.as_json(only: %i[mlid depth], methods: %i[title path image]) \
}, { prerender: Rails.env.production? }
