.directions {
  composes: subjects from './StepEight.module.css';
}

.direction {
  composes: subject from './StepEight.module.css';
}

.row {
  composes: row from './StepEight.module.css';
}

.new {
  margin-top: calc(var(--yr) * var(--s3));

  & span {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: color-mod(var(--pr_color) a(0.4));
    transition: text-decoration 0.3s, color 0.3s;

    &:hover {
      color: var(--pr_color);
      text-decoration-color: var(--pr_color);
    }
  }
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--yr);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px color-mod(var(--sp_color) shade(7%));
  cursor: pointer;
  padding: calc(var(--yr) * 4);

  &.active {
    box-shadow: inset 0 0 0 2px var(--hl_color);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}
