.a {
  color: #fff;
  cursor: pointer;
  padding: calc(var(--yr) * var(--s4)) 0;
  display: block;
  background: var(--hl_color);
}

.root {
  @media (--m) {
    display: flex;
  }
}

.container {
  composes: container from '../../Pages.module.css';
}

.title {
  padding-right: calc(var(--xr) * 2);
  margin-right: auto;
  margin-bottom: calc(var(--yr) * var(--s3));

  & h2 {
    margin-bottom: 0;
  }

  & p {
    margin-top: calc(var(--yr) * var(--s2));
    margin-bottom: 0;
  }

  @media (--m) {
    margin-bottom: 0;
  }
}

.action {
  /* align-self: center; */
}

.button {
  composes: h4 from '../../Fonts.module.css';
  background-color: #49d3ff;
  color: var(--pr_color);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: calc(var(--yr) * 4) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  margin-bottom: 0;
}

.a:hover {
  color: white;

  & .button {
    background-color: color-mod(#49d3ff shade(10%));
  }
}
