.root {
  grid-column: span 12;
}

.intro {
  composes: h2 from '../../Fonts.module.css';
  text-align: center;
  margin-bottom: calc(var(--yr) * var(--s3));
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media(--m) {
    grid-template-columns: repeat(4, 1fr);
  }
}

:global .font_3 {
  & :local .blocks {
    display: block;

    @media (--l) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (--xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.block {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s3));

  & svg {
    display: block;
    width: 100%;
  }
}

.title {
  margin-bottom: calc(var(--yr) * var(--s2));
  composes: h2 from '../../Fonts.module.css';
  text-align: center;
  color: var(--hl_color);

  @media (--s) {
    margin-bottom: 32px;
  }
}

.line {
  display: none;

  @media (--m) {
    display: block;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-top: 2px dashed #ECEFF1;
  }
}

:global .schema_3 {
  & :local .line {
    @media (--m) {
      border-top: 2px dashed #339;
    }
  }
}

:global .font_3 {
  & :local .line {
    @media (--l) {
      display: none;
    }

    @media (--xl) {
      display: block;
    }
  }
}

.container {
  display: none;

  @media(--m) {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
  }
}

.image {
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: calc(var(--yr) * var(--s3) * 2);
  }
}

:global .schema_2 {
  & :local .image {
    & svg > path {
      fill: #000;
    }

    & svg > g {
      fill: #000;
    }
  }
}

:global .schema_3 {
  & :local .image {
    & svg > path {
      fill: #9fd2fd;
    }

    & svg > g {
      fill: #9fd2fd;
    }
  }
}

.ellipse {
  display: none;

  @media (--m) {
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #EEF1FE;
    margin: 0 auto;
  }
}

:global .schema_2 {
  & :local .ellipse {
    background-color: #161a1d;
  }
}

:global .schema_3 {
  & :local .ellipse {
    background-color: #339;
  }
}

.circle {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: var(--hl_color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.text {
  text-align: center;
}
