.root {
  padding: 0;
  position: relative;

  @media (--l) {
    grid-column: -1 / 1;
    grid-row: span 2;
  }
}

.events {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s3));

  @media (--m) {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.event {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s4));

  &:last-child {
    margin-bottom: 0;
  }

  @media (--m) {
    margin-bottom: 0;
  }
}

.label {
  margin-bottom: calc(var(--yr) * var(--s4));
}

:global .schema_2 {
  & :local .events {
    & a {
      color: var(--wh_color);
    }
  }
}

:global .schema_2 {
  & :local .event {
    &:hover {
      color: var(--hl_color);
    }
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
  padding-top: calc(var(--yr) * var(--s2));
  margin: 0;
  hyphens: auto;
}

.date {
  color: var(--hl_color);
  composes: h3 from '../../Fonts.module.css';
  margin: 0;
  border-bottom: 2px solid var(--hl_color);
  padding-bottom: calc(var(--yr) * var(--s2));
}

.day {
  color: #141414;
  opacity: 0.5;
}

.tab {
  align-self: center;
  color: var(--gr_color);
  padding: calc(var(--yr) * 2) calc(var(--yr) * 7.5);
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: var(--hl_color);
  border-radius: calc(var(--yr) * 2);
}

.passed {
  composes: at from '../../Fonts.module.css';
  color: var(--hl_color);
  position: relative;
  padding-left: calc(var(--yr) * 3);
  margin-top: calc(var(--yr) * var(--s2));

  &::before {
    position: absolute;
    content: '';
    width: calc(var(--yr) * 2);
    height: calc(var(--yr) * 2);
    background-color: var(--hl_color);
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.more {
  position: static;

  @media (--s) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.pass {
  & .date {
    opacity: 0.5;
  }

  & .title {
    color: #000;
    opacity: 0.5;
  }
}
