.root {
  padding: 0;
  margin-bottom: calc(var(--yr) * var(--s5));
  position: relative;

  @media (--l) {
    grid-column: -1 / 1;
    grid-row: span 2;
  }
}

.events {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s3));

  @media (--s) {
    margin-bottom: calc(var(--yr) * var(--s4));
  }

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.event {
  display: block;
  border: 1px solid #dbddde;
  border-radius: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));

  &:last-child {
    margin-bottom: 0;
  }

  @media (--m) {
    margin-bottom: 0;
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
}

.date {
  padding: calc(var(--yr) * var(--s2)) calc(var(--yr) * 7.5);
  composes: h3 from '../../Fonts.module.css';
  margin: 0;
  border-bottom: 1px solid #dbddde;
}

.day {
  color: #141414;
  opacity: 0.5;
}

.buttons {
  display: flex;
  margin-bottom: calc(var(--yr) * 7);
}

.tab {
  align-self: center;
  color: var(--gr_color);
  padding: calc(var(--yr) * 2) calc(var(--yr) * 7.5);
  cursor: pointer;
}

.active {
  color: #fff;
  background-color: var(--hl_color);
  border-radius: calc(var(--yr) * 2);
}

.passed {
  composes: at from '../../Fonts.module.css';
  color: var(--hl_color);
  position: relative;
  padding-left: calc(var(--yr) * 3);

  &::before {
    position: absolute;
    content: '';
    width: calc(var(--yr) * 2);
    height: calc(var(--yr) * 2);
    background-color: var(--hl_color);
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.more {
  position: static;

  @media (--m) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.pass {
  & .date {
    color: #000;
    opacity: 0.5;
  }

  & .title {
    color: #000;
    opacity: 0.5;
  }
}

.wrapper {
  padding: calc(var(--yr) * var(--s2)) calc(var(--yr) * 7.5) calc(var(--yr) * 7);
}
