.news {
  grid-column: span 8;
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  position: relative;

  @media(--s) {
    margin-bottom: calc(var(--yr) * calc(var(--s4) * 2));
  }
}

.label {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.news_items {
  display: block;

  @media(--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
    grid-row-gap: calc(var(--yr) * var(--s3));
    margin-bottom: calc(var(--yr) * var(--s4));
  }
}

.image {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2));

  &::before {
    display: block;
    content: '';
    padding-top: calc(3 / 4.33 * 100%);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;

    @media(--s) {
      /* border-radius: var(--yr); */
    }
  }
}

.date {
  composes: at from '../../Fonts.module.css';
  color: #777;
}

.news_item {
  cursor: pointer;
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: 0;
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s1));
}

.button {
  cursor: pointer;
  position: static;
  text-align: center;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 3) calc(var(--xr) * 2);
  color: #141414;
  background-color: #ECEFF1;

  & > a {
    color: #fff;
    display: block;
  }
}

.first {
  grid-column: span 2;
}

.desc {
  composes: at from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s1));

  & p {
    margin-bottom: 0;
  }
}
