.news {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--m) {
    margin-bottom: 0;
    grid-column: span 2;
  }
}

.label {
  margin-bottom: calc(var(--yr) * var(--s3));
  display: block;

  @media (--m) {
    display: none;
  }
}

.news_items {
  display: block;

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 1.875);
    grid-row-gap: calc(var(--yr) * 7);
  }
}

.image {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2));
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(9 / 16 * 100%);
  }

  & img {
    object-fit: cover;
    height: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.date {
  composes: at from '../../Fonts.module.css';
  color: #777;
}

.news_item {
  cursor: pointer;
  margin-bottom: calc(var(--yr) * var(--s3));

  @media (--s) {
    margin-bottom: 0;
  }
}

:global .schema_2 {
  & :local .news_item {
    & a {
      color: #fff;

      &:hover {
        color: var(--hl_color);
      }
    }
  }
}

.title {
  composes: bt from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s1));
  hyphens: auto;
}

.more {
  display: inline-block;
  cursor: pointer;
  position: static;
  text-align: center;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 3) calc(var(--xr) * 2);
  color: #141414;
  background-color: #eceff1;

  & > a {
    color: #fff;
    display: block;
  }
}

.desc {
  composes: at from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s1));

  & p {
    margin-bottom: 0;
  }
}

.button {
  @media (--m) {
    display: none;
  }
}
