.poster {
  background: linear-gradient(#fff, #ECEFF1, #fff);
  padding: 0;
  margin-bottom: calc(var(--yr) * var(--s3));
  position: relative;

  @media(--s) {
    grid-column: span 4;
    padding: 0 calc(var(--xr) * 2);
    margin-bottom: calc(var(--yr) * var(--s4));
  }
}

.label {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.events {

}

.event {
  border-bottom: 1px solid #DBDDDE;
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));

  &:last-child {
    border-bottom: none;
  }
}

.title {
  margin-bottom: calc(var(--yr) * calc(var(--s1) * 2));
}

.date {
  color: var(--hl_color);
  margin-bottom: calc(var(--yr) * var(--s1));
}

.button {
  cursor: pointer;
  position: static;
  text-align: center;
  border-radius: var(--yr);
  padding: calc(var(--yr) * var(--s2)) 0;
  background-color: var(--hl_color);

  & > a {
    color: #fff;
    display: block;
  }

  @media(--s) {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: calc(100% - calc(var(--xr) * 4));
    transform: translateX(-50%);
  }
}
