.header {
  composes: h3 from '../../Fonts.module.css';
  margin-bottom: 0;
  padding-right: 1em;
}

.button {
  margin-left: auto;
  background-color: var(--hl_color);
  color: #fff;
  composes: bt from '../../Fonts.module.css';
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 2) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  outline: none;
}

.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: calc(var(--yr) * var(--s3)) 0;
  user-select: none;

  &:hover {
    & .button {
      background: #35f;
    }
  }
}

.hint {
  display: none;
  margin-left: 0.4em;

  @media (--m) {
    display: inline;
  }
}

.external {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
}

.wrapper {
  display: block;

  @media (--s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--yr) * 2);
  }
}

.items {
  display: grid;
  grid-gap: calc(var(--yr) * 2);
  padding-bottom: calc(var(--yr) * var(--s4));

  @media (--m) {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  min-height: 88px;
  display: block;
  position: relative;
  background-color: #fff;
  padding: calc(var(--yr) * var(--s2)) var(--xr);

  @media (--m) {
    padding: calc(var(--yr) * var(--s2)) calc(var(--xr) * 2);
  }
}

.reex {
  grid-column: 1 / -1;
}

.title {
  composes: h4 from '../../Fonts.module.css';
  padding-right: 12%;
  margin: 0;
  position: relative;

  @media (--s) {
    padding-right: 20%;
  }
}
