.root {
  position: relative;
}

.active {
  background-color: var(--hl_color);
  color: #fff;

  &:hover {
    background-color: var(--hl_h_color);
    color: #fff;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--yr) * 2);

  @media (--s) {
    grid-gap: calc(var(--xr) * 2);
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.item {
  position: relative;
  color: #fff;
  min-height: calc(var(--yr) * 28);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gr_color);
  background-position: center;

  @media (--s) {
    min-height: calc(var(--yr) * 46);
  }

  @media (--xl) {
    min-height: calc(var(--yr) * 60);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #000;
    opacity: 0.6;
    transition: background 0.3s, opacity 0.3s;
  }

  &:hover {
    color: #fff;

    &::after {
      background: var(--hl_color);
      opacity: 0.75;
    }
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
  position: absolute;
  z-index: 1;
  left: var(--xr);
  right: var(--xr);
  bottom: calc(var(--yr) * var(--s4));
  margin-bottom: 0;

  & svg {
    display: none;
    position: absolute;
    right: 0;
    bottom: var(--yr);
    height: calc(var(--yr) * 4);

    @media (--s) {
      display: block;
      height: calc(var(--yr) * 5);
      bottom: calc(var(--yr));
    }
  }

  @media (--s) {
    left: calc(var(--xr) * 2);
    right: calc(var(--xr) * 2);
  }
}

.item--4564 {
  background-image: url('./Images/fdopp.jpg') !important;
}

.item--5491 {
  background-image: url('./Images/ft.jpg') !important;
}
