.root {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s4));

  & a {
    /* color: white; */
  }

  @media(--s) {
    margin-bottom: calc(var(--yr) * calc(var(--s4) * 2));
  }
}

.groups {
  display: block;
  /* padding: calc(var(--yr) * var(--s4)) 0; */
}

.tabs {
  overflow: scroll;
  margin-bottom: calc(var(--yr) * 7);

  @media (--s) {
    /* overflow: hidden; */
  }
}

.tab {
  cursor: pointer;
  background-color: #fff;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * var(--s2)) calc(var(--xr) * 2);
  color: #777;
  text-align: center;
  white-space: nowrap;
  display: block;
  transition: background .2s,color .2s;
}

.active {
  background-color: var(--hl_color);
  color: #fff;
}

.tabs {
  display: flex;
}

.items {
  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: calc(var(--yr) * 2);
    grid-row-gap: calc(var(--yr) * 2);
  }
}

.inactive {
  display: none;
}

.item {
  display: block;
  padding: 28px 32px;
  background-color: #ECEFF1;
  border-radius: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * 2);

  @media(--m) {
    margin-bottom: 0;
    padding: 28px 32px 128px;
  }
}
