.slider {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--m) {
    margin-bottom: 0;
  }
}

.images {
  position: relative;
}

.image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0.5;
    z-index: 0;
  }
}

.bullets {
  z-index: 2;
  position: absolute;
  bottom: calc(var(--yr) * 4);
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  @media (--s) {
    bottom: calc(var(--yr) * 13.5);
  }
}

.wrapper {
  cursor: pointer;
  height: calc(var(--yr) * 4.5);
  padding: calc(var(--yr) * 2) 0;

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 3.75);
  }
}

.bullet {
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  width: 50px;

  &:not(:last-child) {
    margin-right: calc(var(--yr) * 3.75);
  }
}

.active {
  &::before {
    background-color: #fff;
    content: '';
    display: block;
    height: 2px;
    animation: right 3s ease-in-out forwards;
  }
}

@keyframes right {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
