.slider {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s4));

  @media(--s) {
    /* margin-bottom: 128px; */
  }
}

.images {
  /* height: 465px; */
  /* border-radius: var(--yr); */
  position: relative;
}

.image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%);

    @media (--s) {
      padding-top: calc(1 / 2 * 100%);
    }
    /* padding-top: 465px; */
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #0F173C;
    opacity: 0.5;
    z-index: 0;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 80%;
}

.dates {
  background-color: var(--hl_color);
  width: max-content;
  margin: 0 auto;
  border-radius: calc(var(--yr) * var(--s2));
  padding: calc(var(--yr) * 2) calc(var(--yr) * var(--s2));
  margin-bottom: calc(var(--yr) * var(--s2));

  @media(--s) {
    margin-bottom: calc(var(--yr) * calc(var(--s2) * 1.5));
  }
}

.title {
  composes: h2 from '../../Fonts.module.css';
}

.prev {
  left: 8px;

  @media(--s) {
    left: 32px;
  }
}

.next {
  right: 8px;

  @media(--s) {
    right: 32px;
  }
}

.nav {
  position: absolute;
}

.prev, .next {
  display: none;
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #707070;
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  @media (--l) {
    display: block;
  }

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
}

.bullets {
  z-index: 2;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  height: 12px;
  display: flex;

  @media(--s) {
    bottom: 32px;
    transform: translateY(-32px) translateX(-50%);
  }
}

.bullet {
  cursor: pointer;
  background-color: #707070;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin: auto 8px auto 0;
}

.active {
  background-color: #fff;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.first {
  background-image: url('./Images/slide.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}
