.slider {
  /* border-top: 1px solid var(--sp_color); */
  border-bottom: 1px solid var(--sp_color);
  border-right: 2px solid var(--hl_color);

  @media (--m) {
    border-top: 1px solid var(--sp_color);
  }
}

:global .schema_2 {
  & :local .slider {
    border-bottom: 1px solid #333;

    @media (--m) {
      border-top: 1px solid #333;
    }
  }
}

.slides {
  align-items: stretch;
}

.slide {
  height: auto;
  display: flex;
  flex-direction: column;

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.images {
  position: relative;
}

.image {
  /* width: 100%; */
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--sp_color);

  &::before {
    display: block;
    content: '';
    padding-top: calc(2 / 3 * 100%);
  }

  /* &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0.5;
    z-index: 0;
  } */
}

.data {
  padding: calc(var(--yr) * var(--s5)) 0 calc(var(--yr) * var(--s4) * 2);
  position: relative;
  flex-grow: 1;
}

.title {
  composes: h2 from '../../Fonts.module.css';
  margin-right: 5%;
}

:global .schema_2 {
  & :local .title {
    color: var(--wh_color);
  }
}

.button {
  position: absolute;
  bottom: calc(var(--yr) * var(--s4));
  left: 0;
  composes: bt from '../../Fonts.module.css';
  background-color: var(--hl_color);
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: calc(var(--yr) * 2) calc(var(--xr) * 2);
  transition: background 0.2s, color 0.2s;
  margin-bottom: 0;
}

.nav {
  position: absolute;
  bottom: calc(var(--yr) * var(--s4));
  right: calc(var(--xr) * 1);
  display: flex;

  @media (--s) {
    right: calc(var(--xr) * 2);
  }
}

.next,
.prev {
  user-select: none;
  cursor: pointer;
  width: calc(var(--yr) * 10);
  height: calc(var(--yr) * 10);
  background-color: var(--sp_color);

  & svg {
    display: block;
    height: calc(var(--yr) * 5);
    margin: calc(var(--yr) * 2.5) auto;
  }

  @media (--s) {
    width: calc(var(--yr) * 11);
    height: calc(var(--yr) * 11);
  }
}

:global .schema_2 {
  & :local .prev {
    background-color: #161a1d;

    & svg {
      & path {
        stroke: var(--wh_color);
      }
    }
  }
}

:global .schema_2 {
  & :local .next {
    background-color: #161a1d;

    & svg {
      & path {
        stroke: var(--wh_color);
      }
    }
  }
}

.next {
  margin-left: calc(var(--yr) * 1);
}

.slide:hover {
  & .button {
    background: #35f;
  }
}
