.root {
  display: block;
  margin-bottom: calc(var(--yr) * var(--s5));

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 1.875);
  }
}

:global .font_3 {
  & :local .root {
    @media (--l) {
      display: block;
    }

    @media (--xl) {
      display: grid;
    }
  }
}

.video {
  margin-bottom: calc(var(--yr) * 7);
}

.youtube {
  position: relative;
  margin-bottom: calc(var(--yr) * 4);
  cursor: pointer;
  overflow: hidden;
  background-color: #000;

  & .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.5s;

    & img {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url('./Images/Play.svg') center no-repeat;
    background-size: 85px;
    transition: background 0.3s;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(9 / 16 * 100%);
  }

  & iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    & .img {
      transform: scale(1.03);
    }

    &::after {
      background-color: color-mod(#000 a(0.2));
    }
  }

  &.active {
    &::after {
      display: none;
    }
  }

  @media (--m) {
    margin-bottom: calc(var(--yr) * 7);
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
}

.date {
  composes: at from '../../Fonts.module.css';
  color: var(--gr_color);
}

.heading {
  grid-column: -1 / 1;
  composes: h3 from '../../Fonts.module.css';
  margin: 0 0 calc(var(--yr) * var(--s3));
}
