.tutors {
  composes: tutors from '../../Tutors/Index.module.css';
}

.tutor {
  composes: tutor from '../../Tutors/Index.module.css';
  margin-bottom: calc(var(--yr) * var(--s3));
}

:global .schema_3 {
  & :local .tutor {
    color: #339;
  }
}

.image {
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2));
  background-color: color-mod(#000 a(0.6));
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(5 / 4 * 100%);
  }

  & img {
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);

    @media(--s) {
      /* border-radius: var(--yr); */
    }
  }
}
