.docs {
  margin: calc(var(--yr) * var(--s3)) 0;

  @media (--s) {
    /* margin: calc(var(--yr) * var(--s3)) calc(1 / 8 * 100%) calc(var(--yr) * var(--s4)); */
  }
}

:global .schema_2 {
  & :local .docs {
    & li {
      & a {
        color: #fff;

        &:hover {
          color: var(--hl_color);
        }
      }
    }
  }
}

:global .schema_3 {
  & :local .docs {
    & li {
      & a {
        color: #339;

        &:hover {
          color: var(--hl_color);
        }
      }
    }
  }
}

.doc {
  display: flex;
  padding: calc(var(--yr) * var(--s1)) 0;
  border-bottom: 1px solid var(--sp_color);
}

:global .schema_3 {
  & :local .doc {
    border-bottom: 1px solid var(--hl_color);
  }
}

.title {
  margin-bottom: calc(var(--yr));
  max-width: 58rem;
}

.meta {
  text-transform: uppercase;
  color: var(--gr_color);
  composes: mt from '../Fonts.module.css';
}
