.root {
  & h3 {
    margin-bottom: 0;
    margin-right: 40px;
  }

  /* margin: calc(var(--yr) * var(--s3)) 0; */

  /* @media (--l) {
    padding-right: calc(3 / 12 * 100%);
  } */
}

.handle {
  padding: calc(var(--yr) * var(--s3)) 0;
  border-top: 1px solid var(--sp_color);
  border-bottom: 1px solid var(--sp_color);
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 26px;
    height: 2px;
    background-color: var(--pr_color);
    transform: translate(0, -50%);
  }

  &::after {
    content: '';
    position: absolute;
    right: 13px;
    top: 50%;
    width: 2px;
    height: 26px;
    background-color: var(--pr_color);
    transform: translate(50%, -50%);
    /* transition: opacity 0.2s; */
  }

  &.active {
    /* background-color: red; */

    &::after {
      opacity: 0;
    }
  }
}

:global .schema_2 {
  & :local .docs {
    & li {
      & a {
        color: #fff;

        &:hover {
          color: var(--hl_color);
        }
      }
    }
  }
}

:global .schema_3 {
  & :local .handle {
    border-bottom: 1px solid #339;
    border-top: 1px solid #339;
  }
}

.doc {
  display: block;
  padding: calc(var(--yr) * var(--s3)) 0;
  border-bottom: 1px solid var(--sp_color);

  @media (--m) {
    display: grid;
    grid-template-columns: 1fr calc(1 / 9 * 100%);
    grid-gap: calc(var(--xr) * 2);
  }
}

:global .schema_3 {
  & :local .doc {
    border-bottom: 1px solid #339;
  }
}

.title {
  composes: h4 from '../Fonts.module.css';
  margin-bottom: 0;
}

:global .schema_3 {
  & :local .title {
    color: #339;
  }
}

.meta {
  text-transform: uppercase;
  color: var(--gr_color);
  composes: mt from '../Fonts.module.css';
  margin-top: calc(var(--yr) * var(--s2));

  @media (--m) {
    margin-top: 0;
  }
}
