.docs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--yr) * var(--s2)) var(--xr);

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: calc(var(--yr) * var(--s4)) calc(var(--xr) * 2);
  }
}

.doc {
  display: block;
  composes: at from '../Fonts.module.css';

  & svg {
    margin-bottom: calc(var(--yr) * var(--s1));
    display: block;
    width: 2rem;
  }
}

.title {
  /* display: box; */
  /* max-height: 3rem; */
  /* line-clamp: 3; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}


.meta {
  text-transform: uppercase;
  color: var(--gr_color);
  composes: mt from '../Fonts.module.css';
}
