.desc {
  max-width: 60rem;

  & ul {
    padding-left: 0;
    display: grid;
    grid-row-gap: calc(var(--yr) * var(--s2));

    &:not(:last-child) {
      margin-bottom: calc(var(--yr) * var(--s3));
    }

    @media (--s) {
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      grid-column-gap: var(--xr);
    }
  }

  & li {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;

    &::before {
      display: block;
      content: '';
      margin-left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      transform: none;
      height: calc(var(--yr) * 5);
      width: calc(var(--yr) * 5);
      margin-right: var(--xr);
      flex-shrink: 0;
      align-self: flex-start;
      background-image: url('./Images/check.svg');

      @media (--s) {
        height: calc(var(--yr) * 6);
        width: calc(var(--yr) * 6);
      }
    }
  }
}
