.root {
  display: none;
  margin-bottom: calc(var(--yr) * calc(var(--s5)));

  @media(--m) {
    display: block;
  }
}

.course {
  background-color: #ECEFF1;
  border-radius: calc(var(--yr) * 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * 2);
}

.item {
  color: #727272;
  width: max-content;
}

.small {
  composes: at from '../../Fonts.module.css';
  color: #727272;
}

.form_1 {
  margin: 28px 0;
  padding: 0 24px;
}

.form_2 {
  margin: 28px 0;
  padding: 0 24px;

  @media(--l) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ball {
  margin-bottom: calc(var(--yr) * 2);
  color: #727272;
}

.sub {
  margin-bottom: calc(var(--yr) * 2);
}

.button {
  composes: bt from '../../Fonts.module.css';
  padding: 7px 30px;
  color: #fff;
  background-color: var(--hl_color);
  border-radius: calc(var(--yr) * 2);
  text-align: center;
  height: max-content;
  width: max-content;

  @media(--l) {
    margin: auto;
  }
}

.grey {
  color: #727272;
}
