.root {
  display: grid;
  grid-row-gap: calc(var(--yr) * var(--s4));

  @media (--s) {
    grid-template-columns: repeat(12, 1fr);

    & .action {
      grid-column: span 6;
      order: -1;
    }

    & .summary {
      grid-column: span 6;
    }

    & .youtube {
      grid-column: span 12;
    }
  }

  @media (--m) {
    & .action {
      grid-column: span 4;
    }

    & .summary {
      grid-column: span 8;
    }
  }

  @media (--l) {
    & .youtube {
      grid-column: 5 / span 8;
    }
  }
}

.summary {
  composes: h4 from '../../Fonts.module.css';
}

.youtube {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(9 / 16 * 100%);
  }

  & iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
