.tutors,
.leaders,
.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--xr);
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--m) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc(var(--xr) * 2);
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (--xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.executives {
  composes: h3 from "../Fonts.module.css";
}

.leaders {
  margin-bottom: calc(var(--yr) * calc(var(--s4) * 2));
}

.division {
  display: block;
}

.input {
  margin: calc(var(--yr) * var(--s3)) 0;
  composes: input from "../Docs/Index.module.css";
}

.fil {
  display: none;
}
