- set_meta_tags \
  title: @node.title

= react_component 'Courses/Index', { \
  node: @node.as_json(only: :title),
  loaf: @node.loaf.as_json(only: %i[mlid depth], methods: %i[title path]),
  courses: @courses.sort_by{ |c| [c.title, c.spec.presence || ''] } \
    .as_json( \
      only: %i[title nid],
      methods: %i[path spec youtube ege price_1 price_2 price_3 time_1 time_2 time_3 places_1 places_2 places_3] \
    ) \
}
