- set_meta_tags \
  title: @node.title

= react_component 'Courses/Show', { \
  loaf: @loaf.as_json(only: %i[mlid depth], methods: %i[title path]),
  node: @node.as_json(only: :title, methods: :path),
  course: @course \
    .as_json( \
      only: %i[title nid],
      methods: %i[path spec level text youtube ege price_1 price_2 price_3 time_1 time_2 time_3 places_1 places_2 places_3] \
    ) \
}
