- set_meta_tags \
  title: @node.title

= react_component 'Courses/Ugsn', { \
  node: @node.as_json(only: :title),
  ugsns: @ugsns.as_json( \
    include: { \
      image: { \
        only: [],
        methods: :path \
      }, \
      ugsn_courses: { \
        only: %i[title nid],
        methods: %i[desc path spec level youtube ege price_1 price_2 price_3 time_1 time_2 time_3 places_1 places_2 places_3]} \
      }, \
    only: %i[title nid] \
  ),
}, { prerender: Rails.env.production? }
