.root {
  display: grid;

  @media (--m) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc(var(--xr) * 1.875);
  }
}

.division {
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--m) {
    margin-bottom: calc(var(--yr) * 21);
  }
}

.image {
  position: relative;
  background-color: color-mod(#000 a(0.6));
  border-radius: calc(var(--yr) * 2)  calc(var(--yr) * 2) 0 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    padding-top: calc(1.5 / 2 * 100%);

    @media (--s) {
      padding-top: calc(1.5 / 4 * 100%);
    }
  }

  & img {
    left: 50%;
    top: 50%;
    position: absolute;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);

    @media (--s) {
      /* border-radius: var(--yr); */
    }
  }
}

.title {
  composes: h2 from '../../Fonts.module.css';

  @media (--s) {
    padding-left: calc(1 / 6 * 100%);
  }
}

.desc {
  display: none;

  @media (--s) {
    display: block;
    padding-right: calc(1 / 6 * 100%);
  }

  @media (--m) {
    display: block;
    padding-right: calc(2 / 6 * 100%);
  }
}

.intro {
  display: grid;
  background: var(--hl_color);
  border-radius: 0 0 calc(var(--yr) * 2);
  color: var(--wh_color);
  padding: calc(var(--yr) * var(--s4)) var(--xr);
  margin-bottom: calc(var(--yr) * var(--s4));

  @media (--s) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(var(--xr) * 2);
    padding: calc(var(--yr) * var(--s4)) 0;
  }
}

.filter {
  border-radius: calc(var(--yr) * 2);
  cursor: pointer;
  position: relative;
  grid-column: span 2;

  @media (--s) {
    padding-left: calc(1 / 12 * 100%);
  }

  & .items {
    display: flex;
    flex-wrap: wrap;
  }

  & .item {
    color: var(--pr_color);
    padding: calc(var(--yr) * 1.75) calc(var(--yr) * 3.75);
    background-color: var(--sp_color);
    border-radius: calc(var(--yr) * 2);
    margin-right: calc(var(--yr) * 2);
    margin-bottom: calc(var(--yr) * 2);
    position: relative;
    user-select: none;

    @media (--m) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: calc(var(--yr) * 2);
      }
    }

    &.selected {
      background-color: var(--hl_o_color);
      color: var(--wh_color);
    }
  }
}
