.root {
  margin-bottom: calc(var(--yr) * calc(var(--s5)));
}

.level {
  composes: h4 from '../../Fonts.module.css';
  text-align: center;
  margin-bottom: calc(var(--yr) * calc(var(--s4)));
  display: block;

  @media(--m) {
    display: none;
  }
}

.course {
  background-color: #ECEFF1;
  border-radius: calc(var(--yr) * 2);
  padding: 14px 32px 42px;
  margin-bottom: calc(var(--yr) * calc(var(--s2) * 3));
  display: block;

  @media(--m) {
    display: none;
  }
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: calc(var(--yr) * calc(var(--s2) * 3));

  @media(--m) {
    display: none;
  }
}

.tab {
  border-radius: calc(var(--yr) * 2);
  text-align: center;
  padding: calc(var(--yr) * 2) var(--xr);
  white-space: nowrap;

  &.active {
    background-color: var(--hl_color);
    color: #fff;
  }
}

.items {

}

.item {
  margin-bottom: calc(var(--yr) * 2);
  display: grid;
  grid-template-columns: 60% 40%;
}

.info {

}

.form {
  display: none;

  @media(--m) {
    display: block;
  }
}

.small {
  composes: at from '../../Fonts.module.css';
  color: #727272;
}

.subs {
  margin-bottom: 28px;
}

.sub {
  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * 2);
  }
}

.button {
  color: #fff;
  background-color: var(--hl_color);
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * 2) calc(var(--xr) * 2);
  margin: 0 auto;
  text-align: center;
  width: 230px;
}

.youtube {
  position: relative;
  margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  background-color: #f1f1f1;
  background-position: center;
  background-size: cover;

  &::before {
    display: block;
    content: '';
    width: 100%;
    position: relative;
    padding-top: calc(9 / 16 * 100%);
    z-index: -1;
  }

  & iframe {
    border-radius: calc(var(--yr) * 2);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.text {
  hyphens: auto;

  @media (--s) {
    margin: 0 calc(1 / 8 * 100%) calc(var(--yr) * var(--s4));
  }

  @media (--xl) {
    margin: 0 calc(2 / 8 * 100%) calc(var(--yr) * var(--s4));
  }
}
