.courses {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--yr) * var(--s3));

  @media (--s) {
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--xr) * 2);
  }

  @media (--m) {
    /* grid-template-columns: 1fr 1fr 1fr; */
  }

  @media (--l) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.course {
  display: block;
  border-radius: calc(var(--yr) * 2);
  padding: calc(var(--yr) * var(--s3)) var(--xr);
  box-shadow: inset 0 0 0 1px var(--sp_color);
  transition: box-shadow 0.3s;
  outline: none;

  @media (--s) {
    margin-bottom: 0;
    padding: calc(var(--yr) * var(--s3)) calc(var(--xr) * 2);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--gr_color);
  }

  &:hover {
    box-shadow: inset 0 0 0 2px var(--hl_color);
    color: var(--pr_color);
  }
}

.direction {
  composes: at from '../../Fonts.module.css';
  color: var(--hl_color);
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2));
  padding-left: calc(var(--yr) * 4);

  &::before {
    position: absolute;
    border-radius: 50%;
    content: '';
    width: calc(var(--yr) * 2);
    height: calc(var(--yr) * 2);
    background-color: var(--hl_color);
    left: 0;
    top: calc(var(--yr) * 1.5);
    /* transform: translate(0, -50%); */
  }
}

.title {
  composes: h4 from '../../Fonts.module.css';
}

.level {
  margin-top: calc(var(--yr) * var(--s2));
  margin-bottom: calc(var(--yr) * var(--s3));
  color: var(--hl_o_color);
}

.desc {
  margin-bottom: calc(var(--yr) * var(--s2));
}

.meta {
  display: flex;
  white-space: nowrap;
}

.form {
  min-width: 8rem;
}

.time {
  color: var(--gr_color);
  composes: at from '../../Fonts.module.css';
}

.ege {
  margin-top: calc(var(--yr) * var(--s3));
}

.eget {
  composes: at from '../../Fonts.module.css';
  color: var(--gr_color);
  margin-bottom: calc(var(--yr) * calc(var(--s1) - 2));
}

.es {
  display: flex;
  flex-wrap: wrap;
  composes: at from '../../Fonts.module.css';
}

.e {
  background-color: var(--sp_color);
  border-radius: var(--yr);
  line-height: calc(var(--yr) * 7);
  padding: 0 calc(var(--yr) * 2);
  margin-top: var(--yr);

  &:not(:last-child) {
    margin-right: var(--yr);

    /* &::after {
      margin-left: var(--yr);
      content: '\2022';
    } */
  }
}
