.filters {
  display: none;
  margin-bottom: calc(var(--yr) * calc(var(--s2) * 2.75));

  @media (--s) {
    display: block;
  }
}

.wrapper {
  user-select: none;

  &:last-child {
    & .filter {
      margin-bottom: 0;
    }
  }
}

.filter {
  border-radius: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * calc(var(--s2) * 1.75));
  cursor: pointer;
  position: relative;

  & .item {
    padding: calc(var(--yr) * 1.75) calc(var(--yr) * 10);
    background-color: var(--sp_color);
    border-radius: calc(var(--yr) * 2);
    margin-bottom: calc(var(--yr) * 2);
    width: 100%;
    text-align: center;

    @media (--s) {
      margin-right: calc(var(--yr) * 2);
      width: auto;
    }

    @media (--m) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: calc(var(--yr) * 2);
      }
    }

    &.selected {
      background-color: var(--hl_color);
      color: #fff;
      position: relative;

      &::after {
        content: '✕';
        position: absolute;
        right: calc(var(--yr) * 4);
      }
    }

    &.disabled {
      color: #d4d7d9;
    }
  }
}

.handler {
  margin-top: calc(var(--yr) * 4);
}

.toggle {
  composes: h4 from '../../Fonts.module.css';
  user-select: none;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--yr) * 4);

  & svg {
    display: block;
    width: calc(var(--yr) * var(--s2));
    height: calc(var(--yr) * 3.5);
    margin-right: calc(var(--yr) * 2.5);
  }

  @media (--s) {
    display: none;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
}
