.filters {
  display: none;
  position: relative;
  z-index: 1;
  /* flex-wrap: wrap; */

  margin-bottom: calc(var(--yr) * calc(var(--s2) * 2.75));

  &.active {
    display: block;
  }

  @media (--m) {
    /* display: flex; */

    &.active {
      /* display: flex; */
    }
  }
}

/* .wrapper:hover {
  & .items {
    visibility: visible;
    opacity: 1;
  }
} */

.wrapper {
  &:last-child {
    & .filter {
      margin-bottom: 0;
    }
  }
}

.filter {
  /* background-color: var(--sp_color); */
  /* padding: calc(var(--yr) * 1.5) calc(var(--yr) * 7.5); */
  border-radius: calc(var(--yr) * 2);
  margin-bottom: calc(var(--yr) * calc(var(--s2) * 1.75));
  cursor: pointer;
  position: relative;

  @media (--m) {
    /* margin-right: calc(var(--yr) * 2); */
    /* padding: calc(var(--yr) * 1.5) calc(var(--yr) * 13); */
    /* margin-bottom: 0; */
  }

  & .item {
    padding: 7px 15px;
    background-color: #ECEFF1;
    border-radius: calc(var(--yr) * 2);
    margin-right: calc(var(--yr) * 2);
    margin-bottom: calc(var(--yr) * 2);


    @media(--m) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: calc(var(--yr) * 2);
      }
    }

    & label {
      display: block;
      /* padding-left: calc(var(--yr) * 6); */
      position: relative;
      user-select: none;
      cursor: pointer;

      & input {
        display: none;
        appearance: none;
        background: #FFFFFF;
        border: 1px solid #DBDDDE;
        box-sizing: border-box;
        border-radius: 4px;
        /* display: block; */
        height: 1rem;
        font-size: inherit;
        position: absolute;
        top: calc(var(--yr) * 0.5);
        margin: 0;
        left: 0;
        width: 1rem;
        outline: none;
        transition-duration: 0.2s;
        transition-property: background, border;

        &:after {
          content: '';
          position: absolute;
          display: block;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDRMNCA3TDkgMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==);
          background-size: cover;
          width: 10px;
          height: 8px;
          left: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
          opacity: 0;
          transition-duration: 0.2s;
          transition-property: opacity, transform;
        }
      }
    }

    &.selected {
      background-color: var(--hl_color);
      color: #fff;

      & label {
        & input {
          background-color: var(--hl_color);
          border-color: var(--hl_color);

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &.disabled {
      color: #d4d7d9;
    }
  }
}

.checked {
  display: none;

  @media (--s) {
    font-size: calc(var(--yr) * 3.5);
    line-height: calc(var(--yr) * 6);
    display: inline-block;
    background-color: var(--hl_color);
    border-radius: 50%;
    padding: 0 var(--yr);
    right: calc(var(--yr) * 4);
    color: var(--wh_color);
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: calc(var(--yr) * 6);
    text-align: center;
  }
}

.title {
  composes: bt from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * var(--s2));
}

.handler {
  display: flex;
  margin-bottom: calc(var(--yr) * calc(var(--s2) * 1.75));

  @media (--m) {
    cursor: pointer;
    /* position: absolute; */
    right: 0;
    z-index: 2;
    top: calc(var(--yr) * 2);
  }
}

.toggle {
  composes: h4 from '../../Fonts.module.css';
  user-select: none;
  margin: 0;
}

.resetAll {
  margin-left: auto;
  display: none;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.russian {
  color: #fff;
  opacity: 0.5;
  background-color: var(--hl_color);
}

/* .items {
  padding: calc(var(--yr) * 2) 0;
  composes: at from '../../Fonts.module.css';
  line-height: calc(var(--yr) * 5);
  cursor: default;

  @media (--m) {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: calc(var(--yr) * 14);
    left: 0;
    width: 100%;
    background-color: var(--sp_color);
    padding: calc(var(--yr) * 7.5);
    border-radius: calc(var(--yr) * 2);

    &:after {
      content: "";
      position: absolute;
      top: -7px;

      width: 0;
      height: 0;
      border-left: calc(var(--yr) * 2) solid transparent;
      border-right: calc(var(--yr) * 2) solid transparent;

      border-bottom: 7px solid var(--sp_color);
    }
  }
} */
