/* .news_item {
  text-decoration: none;
  display: block;

  &:not(:last-child) {
    margin-bottom: calc(var(--yr) * var(--s3));
  }

  @media(--s) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: calc(var(--xr) * 2);

    &:not(:last-child) {
      margin-bottom: calc(var(--yr) * var(--s4));
    }
  }
}

.wrapper {
  @media(--s) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.image {
  grid-column: 5 / span 4;
  position: relative;
  margin-bottom: calc(var(--yr) * var(--s2));

  &::before {
    display: block;
    content: '';
    padding-top: calc(3 / 4 * 100%);
  }

  & img {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media(--s) {
      border-radius: var(--yr);
    }
  }

  @media(--s) {
    &::before {
      padding-top: calc(1 / 2 * 100%);
    }
  }
}

.news {
  grid-column: span 8;
}

.content {
  grid-column: span 4;

  & .date, & .title {
    margin-bottom: 16px;
  }

  @media(--s) {
    order: -1;
  }
} */

.title {
  composes: h4 from '../../Fonts.module.css';
  margin-bottom: calc(var(--yr) * 4);

  @media (--m) {
    margin-bottom: calc(var(--yr) * 8);
  }
}

.news_item {
  position: relative;
  display: block;
  min-height: 200px;
  padding: calc(var(--yr) * var(--s3) * 2) 0;

  &:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
  }
}

.row {
  display: block;

  @media (--m) {
    display: flex;
  }
}

.content {
  hyphens: auto;
  width: 100%;

  & .desc {
    color: #000;
  }

  & .date {
    color: var(--gr_color);
  }

  @media (--m) {
    order: -1;
    flex: none;
    width: calc(3 / 4 * 100%);
    padding-right: 15%;
  }
}

.col {
  width: 100%;
  margin-bottom: calc(var(--yr) * 4);

  @media (--m) {
    margin-bottom: 0;
    display: block;
    width: calc(1 / 4 * 100%);
  }
}

.wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: calc(2 / 3 * 100%);
  }
}

.image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.inner {
  position: relative;
  z-index: 0;
  min-height: 100%;
  overflow: hidden;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
