.root {
  @media(--s) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: calc(var(--xr) * 2);
  }
}

.news {
  grid-column: span 8;
  margin-bottom: calc(var(--yr) * var(--s3));

  @media(--s) {
    margin-bottom: calc(var(--yr) * calc(var(--s3) * 2));
  }
}
