- set_meta_tags \
  title: @node.title

= react_component 'Admissions/List', { \
  node: NodeSerializer.new(@node),
  docs: DocSerializer.new(@node.docs),
  user: UserSerializer.new(current_user),
  loaf: @node.loaf.as_json(only: %i[mlid depth], methods: %i[title path]) \
}
