.course {
  border-bottom: 2px solid var(--sp_color);
  max-width: 60rem;
}

.list {
  margin-bottom: calc(var(--yr) * var(--s5));
}

.hint {
  background-color: var(--hl_color);
  composes: bt from '../Fonts.module.css';
  padding: calc(var(--yr) * 4);
  color: #fff;
  margin-bottom: calc(var(--yr) * var(--s5));
  max-width: 60rem;
}

.handle {
  padding: calc(var(--yr) * var(--s3)) 0;
  cursor: pointer;
  position: relative;

  & h4 {
    margin-right: 8rem;
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 26px;
    height: 2px;
    background-color: var(--pr_color);
    transform: translate(0, -50%);
  }

  &::after {
    content: '';
    position: absolute;
    right: 13px;
    top: 50%;
    width: 2px;
    height: 26px;
    background-color: var(--pr_color);
    transform: translate(50%, -50%);
  }

  &.active {
    &::after {
      opacity: 0;
    }
  }
}

.cat {
  margin-top: calc(var(--yr) * var(--s1));
  composes: mt from '../Fonts.module.css';
  color: var(--gr_color);
}

.abiturs {
  padding-bottom: calc(var(--yr) * var(--s2));
}

.abitur {
  &:not(:last-child) {
    border-bottom: 1px solid var(--sp_color);
  }
}

.short {
  cursor: pointer;
  padding: calc(var(--yr) * var(--s1)) 0;
  display: grid;
  grid-template-columns: 2rem 2fr 1fr 2rem;
}

.summary {
  padding-left: calc(var(--xr) * 2);

  @media (--s) {
    display: grid;
  }
}

.arrow {
  background: no-repeat url('../../images/dropdown.svg') right center;
  background-size: calc(var(--yr) * 6);
}

.details {
  padding: calc(var(--yr)) 2rem calc(var(--yr)) 1.5rem;
  composes: at from '../Fonts.module.css';
  color: var(--gr_color);
}

.result {
  display: grid;
  grid-template-columns: 2fr 1fr;

  & > div:last-child {
    padding-left: calc(var(--xr) * 2);
  }
}
