.root {
  margin: calc(var(--yr) * var(--s6)) 0;
  max-width: 60rem;
}

.start {
  margin-bottom: calc(var(--yr) * var(--s4));
}

.admissions {
  margin-bottom: calc(var(--yr) * var(--s5));
}

.admission {
  display: block;
  padding: calc(var(--yr) * var(--s3)) 0;
  border-bottom: 1px solid #d8d8d8;
}

.title {
  composes: h4 from '../Fonts.module.css';
}

.date {
  composes: at from '../Fonts.module.css';
  color: var(--gr_color);
}

.button_main {
  composes: button--main from '../Renderer.module.css';

  &:not(:last-child) {
    margin-right: var(--xr);
  }
}

.button_sec {
  composes: button--sec from '../Renderer.module.css';
}

.beta {
  background-color: var(--hl_color);
  color: #fff;
  padding: calc(var(--yr) * var(--s4));
}

.betaText {
  max-width: 55rem;
  composes: bt from '../Fonts.module.css';

  & a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: color-mod(#fff a(0.4));
    transition: text-decoration 0.3s, color 0.3s;

    &:hover {
      color: #fff;
      text-decoration-color: #fff;
    }
  }
}
