.root {
  composes: root from './Form.module.css';
}

.form {
  composes: form from './Form.module.css';
}

.steps {
  composes: steps from './Form.module.css';
}

.hint {
  composes: bt from '../Fonts.module.css';
  padding-bottom: calc(var(--yr) * var(--s4));
}

.step {
  padding-bottom: calc(var(--yr) * var(--s4));
}

.hint {
  border-bottom: 1px solid color-mod(var(--sp_color) shade(7%));
  margin-bottom: calc(var(--yr) * var(--s4));
}
