.root {
  composes: root from './Form.module.css';
}

.form {
  composes: form from './Form.module.css';
}

.steps {
  composes: steps from './Form.module.css';
}

.hint {
  padding-bottom: calc(var(--yr) * 4);
}

.step {
  padding-bottom: calc(var(--yr) * 4);
}
